<div class="page-nav section-divider">
    <div class="page-nav__pagination">
        <div class="pagination">
            <a href="#" class="pagination__button">Предыдущая</a>
            <ul class="pagination__nav">
                <li class="pagination__item">
                    <a href="#" class="pagination__link">1</a>
                </li>
                <li class="pagination__item">
                    <a href="#" class="pagination__link active">2</a>
                </li>
                <li class="pagination__item">
                    <a href="#" class="pagination__link">3</a>
                </li>
                <li class="pagination__item">
                    <a href="#" class="pagination__link">4</a>
                </li>
                <li class="pagination__item">
                    <a href="#" class="pagination__link">5</a>
                </li>
                <li class="pagination__item">
                    <span class="pagination__divider">...</span>
                </li>
                <li class="pagination__item">
                    <a href="#" class="pagination__link">25</a>
                </li>
                <li class="pagination__item">
                    <a href="#" class="pagination__link">26</a>
                </li>
                <li class="pagination__item">
                    <a href="#" class="pagination__link">27</a>
                </li>
            </ul>
            <a href="#" class="pagination__button">Следующая</a>
        </div>
    </div>
    <div class="page-nav__button">
        <button class="btn" type="button">Показать еще 24</button>
    </div>
</div>
