{
    "tabWidth": 4,
    "singleQuote": true,
    "printWidth": 160,
    "bracketSpacing": true,
    "overrides": [
        {
            "files": "*.njk",
            "options": {
                "parser": "html"
            }
        }
    ]
}
