.breadcrumb-absolute {
    .breadcrumb {
        @include r(1279) {
            left: 18px;
            width: calc(100% - 32px);
        }

        position: absolute;
        top: 0;
        left: 65px;
        z-index: 2;
        width: calc(100% - 130px);
    }
}

.breadcrumb-white {
    .breadcrumb__item {
        @include r(1023) {
            color: #818285;
        }

        color: #fff;

        &.active {
            @include r(1023) {
                color: $red;
                opacity: 1;
            }

            color: #fff;
            opacity: 0.5;
        }
    }

    .breadcrumb__toggle.active,
    .breadcrumb__toggle {
        path {
            stroke: #fff;
        }
    }

    .breadcrumb__back {
        &:hover {
            color: #fff;
        }

        color: #fff;

        svg {
            fill: #fff;
        }
    }

    .breadcrumb__main li:before {
        background: #fff;
    }
}

.breadcrumb {
    @include r(1023) {
        @include fcs;
    }

    font-size: 0;
    line-height: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: size-rel(54px);

    &__back {
        display: flex;
        align-items: center;
        font-weight: 500;
        color: $accent;
        text-decoration: none;
        font-size: size-rel(12px);
        line-height: size-rel(22px);

        &:hover {
            color: $accent;
            text-decoration: none;
        }

        &--icon {
            font-size: 0;
            line-height: 0;
            height: size-rel(16px);
            margin-right: size-rel(8px);
            display: inline-block;
            fill: $accent;
        }

        &--text {
            white-space: nowrap;
            display: inline-block;
        }

        &--points {
            font-size: 0;
            line-height: 0;
            height: size-rel(9px);
            margin-left: size-rel(24px);
            display: inline-block;
            stroke: $accent;
        }
    }

    &__toggle {
        @include r(1023) {
            display: block;
        }

        &.active {
            transform: rotate(90deg);

            path {
                stroke: $primary;
            }
        }

        display: none;
        margin-left: 24px;
        transition: $trans;
        height: 15px;

        path {
            transition: $trans;
        }
    }

    &__main {
        @include r(1023) {
            position: absolute;
            bottom: -20px;
            left: 0;
            background: #fff;
            transform: translateY(100%);
            z-index: 71;
            transition: $trans;
            display: block;
            opacity: 0;
            pointer-events: none;
            user-select: none;
            box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.08);
            padding: 16px;
            border-radius: 8px;
            width: 288px;
            max-height: 356px;
        }

        @include r(767) {
            max-height: 184px;
            width: 100%;

            .simplebar-track.simplebar-vertical {
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }

        margin: 0;
        padding: 0;
        list-style: none;
        display: none;
        font-size: size-rel(10px);
        line-height: size-rel(20px);

        &.active {
            pointer-events: all;
            user-select: initial;
            opacity: 1;
            bottom: 0;
        }

        li {
            @include r(1023) {
                margin-bottom: 16px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            position: relative;
            padding-right: 20px;

            &:before {
                @include r(1023) {
                    display: none;
                }

                right: size-rel(8px);
                top: calc(50% - 2px);
                width: 3px;
                height: 3px;
                content: '';
                font-size: 0;
                line-height: 0;
                border-radius: 50%;
                position: absolute;
                background: $gray;
                display: inline-block;
            }

            &:last-child {
                padding-right: 0;

                &:before {
                    display: none;
                }
            }
        }
    }

    &__item {
        white-space: nowrap;
        font-size: 12px;
        line-height: size-rel(22px);
        color: $secondary;
        text-decoration: none;

        &:hover {
            color: $primary;
            text-decoration: none;
        }

        &.active {
            @include r(1023) {
                color: $red;
            }

            color: $primary;
            text-decoration: none;
        }
    }

    @include media-breakpoint-up(lg) {
        height: size-rel(70px);
        margin-bottom: size-rel(16px);

        &--hide-desktop {
            opacity: 0;
            margin-bottom: 0;
            visibility: hidden;
        }

        &__back {
            display: none;
        }

        &__main {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
    }

    @include media-breakpoint-up(xl) {
    }

    @include media-breakpoint-up(xxl) {
        &__main {
            font-size: size-rel(12px);
            line-height: size-rel(22px);
        }
    }
}
