.btn {
    color: $white;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    font-size: size-rel(12px);
    line-height: size-rel(20px);
    padding: size-rel(13px) size-rel(24px);
    user-select: none;
    text-align: center;
    white-space: nowrap;
    position: relative;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    background: #ff502f;
    border: 1px solid #ff502f;
    border-radius: $border-radius;

    &.mobile {
        @include r(767) {
            @include fcc;
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 80px;
            font-size: 12px;
            font-weight: 500;
        }

        display: none;
    }

    i {
        font-size: 0;
        line-height: 0;
        display: inline-block;
        height: size-rel(20px);
    }

    span {
        display: inline-block;
    }

    i + span {
        margin-left: size-rel(8px);
    }

    span + i {
        margin-left: size-rel(8px);
    }

    svg {
        fill: $white;
    }

    &:hover {
        color: $white;
        background: #e6482a;
        border-color: #e6482a;
        text-decoration: none;

        svg {
            fill: $white;
        }
    }

    &:active {
        color: $white;
        background: #ff502f;
        border-color: #ff502f;
    }

    &:focus,
    &.focus {
        outline: 0;
    }
}

.btn-border {
    color: $accent;
    background: $white;

    svg {
        fill: $accent;
    }

    &:hover {
        background: #ff502f;
        border-color: $white;

        svg {
            fill: $white;
        }
    }

    &:active {
        background: #e6482a;
        border-color: $white;

        svg {
            fill: $white;
        }
    }
}

.btn-sm {
    font-size: size-rel(10px);
}

.btn-md {
    padding: size-rel(17px) size-rel(30px);
}

.btn-link {
    margin: 0;
    padding: 0;
    color: $accent;
    border: none;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
    display: inline-block;
    background: transparent;
    text-decoration: none;
    font-weight: 500;
    font-size: size-rel(12px);
    line-height: size-rel(22px);

    svg {
        fill: $accent;
    }

    i {
        font-size: 0;
        line-height: 0;
        display: inline-block;
        height: size-rel(16px);
    }

    span {
        display: inline-block;
    }

    i + span {
        margin-left: size-rel(8px);
    }

    span + i {
        margin-left: size-rel(8px);
    }

    &:hover {
        color: $primary;
        text-decoration: none;

        svg {
            fill: $primary;
        }
    }

    @include media-breakpoint-up(xxl) {
        font-size: size-rel(14px);
        line-height: size-rel(24px);
    }
}

.btn-reset {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: size-rel(12px);
    line-height: size-rel(22px);
    background: transparent;
    color: $primary;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    stroke: $accent;
    transition: 0.3s;

    &:hover {
        color: $primary;
        stroke: $accent;
        text-decoration: none;
        transition: 0.3s;

        svg {
            transform: rotate(180deg);
            transition: 0.3s;
            opacity: 1;
        }
    }

    svg {
        transition: 0.3s;
        opacity: 0.7;
    }

    span {
        display: inline-block;
    }

    svg + span {
        margin-left: size-rel(8px);
    }

    span + svg {
        margin-left: size-rel(8px);
    }

    &--disable {
        color: $secondary;
        stroke: $secondary;

        &:hover {
            color: $secondary;
            stroke: $secondary;

            svg {
                transform: rotate(0);
                opacity: 0.7;
            }
        }

        path {
            stroke: #818285;
        }
    }

    &--outline {
        border: 1px solid #cccccc;
        border-radius: 8px;
        padding: 12px 24px;

        &:hover {
            background: $red;
            color: #fff;
            border-color: $red;

            path {
                stroke: #fff;
            }
        }
    }

    @include media-breakpoint-up(xxl) {
        font-size: size-rel(14px);
        line-height: size-rel(24px);
    }
}

.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-map {
    background: url('../img/btn-map.svg') no-repeat center;
    background-size: cover;
    color: $primary;
    @include fcc;
    border-color: #ccc;

    img {
        margin-right: 8px;
    }

    &:hover {
        background: url('../img/btn-map.svg') no-repeat center;
        background-size: cover;
        color: $primary;
    }
}
