.object-promo {
    margin-bottom: size-rel(16px);
    position: relative;

    &__slider {
        overflow: visible;

        &-full {
            max-height: 684px;
            overflow: hidden;

            .object-promo__item {
                @include r(1500) {
                    height: 528px;
                }

                @include r(1023) {
                    height: 432px;
                }

                @include r(767) {
                    height: 320px;

                    img {
                        display: none;
                    }
                }

                height: 684px;
            }

            .slider-button {
                @include r(767) {
                    display: block;

                    &.object-promo__nav--prev {
                        left: 15px;
                    }

                    &.object-promo__nav--next {
                        right: 15px;
                    }
                }

                display: none;
            }
        }

        .swiper-pagination {
            @include r(1279) {
                width: 60px;
                height: 60px;
            }

            @include r(767) {
                display: none;
            }

            left: 81px;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            @include fcc;
            font-size: 14px;
            font-weight: 500;
            z-index: 3;
            background: #fff;
            margin: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__item {
        display: block;
        position: relative;
        height: 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .swiper-slide {
        height: auto;
        width: size-rel(272px);
    }

    &__nav {
        top: calc(50% - 15px);
        z-index: 50;
        position: absolute;

        &--prev {
            left: -15px;
        }

        &--next {
            right: -15px;
        }
    }

    @include media-breakpoint-up(sm) {
        margin-bottom: size-rel(24px);

        .swiper-slide {
            width: size-rel(568px);
        }

        [data-slide='md'] {
            width: 320px;
        }
    }

    @include media-breakpoint-up(lg) {
        margin-left: size-rel(-50px);

        .swiper-slide {
            width: size-rel(832px);
        }

        [data-slide='md'] {
            width: 468px;
        }

        &__nav {
            top: calc(50% - 15px);
            z-index: 50;
            position: absolute;

            &--prev {
                left: size-rel(24px);
            }

            &--next {
                right: size-rel(-24px);
            }
        }
    }

    @include media-breakpoint-up(xxl) {
        margin-left: size-rel(-65px);
    }
}

.object-header {
    margin: 0 size-rel(-16px) size-rel(24px) size-rel(-16px);
    padding: 0 size-rel(16px) size-rel(24px) size-rel(16px);
    border-bottom: 1px solid $gray;

    &__main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: size-rel(16px);

        &--right {
            display: flex;
            align-items: center;

            button {
                cursor: pointer;
                width: auto;
                height: auto;
                margin-left: 0;

                &:hover path {
                    stroke: $red;
                }

                path {
                    transition: $trans;
                }
            }
        }
    }

    &__developer {
        font-weight: 500;
        font-size: size-rel(12px);
        line-height: size-rel(22px);
        color: $accent;
    }

    &__name {
        display: flex;
        align-items: center;
    }

    &__title {
        font-weight: 600;
        font-size: size-rel(24px);
        line-height: size-rel(32px);
    }

    &__action {
        display: none;
        color: $accent;
        font-weight: 500;
        border-radius: 4px;
        padding: 7px;
        font-size: 12px;
        line-height: 1;
        margin-left: size-rel(16px);
        background: rgba(255, 80, 47, 0.15);
    }

    &__content {
        &--left {
            margin-bottom: size-rel(24px);
        }

        &--right {
            display: flex;
        }
    }

    &__address {
        font-size: size-rel(12px);
        line-height: size-rel(22px);
        margin-bottom: size-rel(8px);
    }

    &__data {
        width: 50%;
        font-size: size-rel(12px);
        line-height: size-rel(22px);

        &--value {
            font-weight: 600;
            font-size: size-rel(14px);
            line-height: size-rel(24px);
        }

        &--label {
            @include r(767) {
                text-align: left;
            }

            font-size: 14px;
            text-align: right;
        }
    }

    &__button {
        padding-top: size-rel(40px);

        .btn {
            width: 100%;
        }
    }

    @include media-breakpoint-up(sm) {
        &__main {
            margin-bottom: size-rel(24px);
        }

        &__action {
            display: inline-block;
        }

        &__data {
            width: auto;
            white-space: nowrap;
            margin-right: size-rel(24px);
        }
    }

    @include media-breakpoint-up(md) {
        margin-bottom: size-rel(40px);
    }

    @include media-breakpoint-up(lg) {
        margin: 0 0 size-rel(40px) 0;
        padding: 0 0 size-rel(40px) 0;

        &__content {
            display: flex;
            justify-content: space-between;

            &--left {
                margin-bottom: 0;
            }
        }

        &__button {
            display: none;
        }

        &__data {
            margin-right: 0;
            margin-left: size-rel(24px);
        }
    }

    @include media-breakpoint-up(xxl) {
        &__data {
            margin-left: size-rel(40px);

            &--value {
                font-size: size-rel(16px);
                line-height: size-rel(32px);
            }
        }
    }

    @include media-breakpoint-up(xxl) {
        &__developer {
            margin-bottom: size-rel(8px);
        }

        &__title {
            font-size: size-rel(32px);
            line-height: size-rel(40px);
        }

        &__data {
            font-size: size-rel(14px);
            line-height: size-rel(24px);

            &--value {
                font-size: size-rel(20px);
                line-height: size-rel(32px);
            }
        }
    }
}

.object-info {
    font-size: size-rel(12px);
    line-height: size-rel(22px);
    margin: 0 size-rel(-16px) size-rel(24px) size-rel(-16px);
    padding: 0 size-rel(16px) 0 size-rel(16px);
    border-bottom: 1px solid $gray;

    &__group {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;

        > li {
            width: 50%;
            margin-bottom: size-rel(24px);
        }

        &--four {
            flex-wrap: wrap;

            > li {
                width: 100%;
            }
        }
    }

    &__label {
        color: $secondary;
        font-size: 12px;
    }

    &__value {
        font-weight: 500;
    }

    @include media-breakpoint-up(sm) {
        margin-bottom: size-rel(40px);
        padding-bottom: size-rel(24px);

        &__wrap {
            display: flex;
            flex-wrap: wrap;
            max-width: size-rel(1024px);
        }

        &__group {
            > li {
                flex-shrink: 0;
                margin-bottom: 0;

                &:first-child {
                    margin-right: size-rel(40px);
                }
            }

            &--one {
                margin-right: size-rel(40px);
                margin-bottom: size-rel(40px);

                > li {
                    &:first-child {
                        width: size-rel(100px);
                    }

                    &:last-child {
                        width: 130px;
                    }
                }
            }

            &--two {
                margin-bottom: size-rel(40px);

                > li {
                    &:first-child {
                        width: size-rel(140px);
                    }

                    &:last-child {
                        //  width: 130px;
                    }
                }
            }

            &--three {
                margin-right: size-rel(40px);

                > li {
                    &:first-child {
                        width: size-rel(100px);
                    }

                    &:last-child {
                        width: 130px;
                    }
                }
            }

            &--four {
                flex-wrap: nowrap;

                > li {
                    &:first-child {
                        width: size-rel(140px);
                    }
                }
            }
        }
    }

    @include media-breakpoint-up(md) {
        margin: 0 0 size-rel(40px) 0;
        padding: 0 0 size-rel(40px) 0;

        &__group {
            > li {
                flex-shrink: 0;
                margin-bottom: 0;

                &:first-child {
                    margin-right: size-rel(60px);
                }
            }

            &--one {
                margin-right: size-rel(60px);
                margin-bottom: size-rel(40px);

                > li {
                    &:first-child {
                        width: size-rel(100px);
                    }

                    &:last-child {
                        width: 150px;
                    }
                }
            }

            &--two {
                margin-bottom: size-rel(40px);

                > li {
                    &:first-child {
                        width: size-rel(150px);
                    }

                    &:last-child {
                        //  width: 130px;
                    }
                }
            }

            &--three {
                margin-right: size-rel(60px);

                > li {
                    &:first-child {
                        width: size-rel(100px);
                    }

                    &:last-child {
                        width: 150px;
                    }
                }
            }

            &--four {
                flex-wrap: nowrap;

                > li {
                    &:first-child {
                        width: size-rel(150px);
                    }
                }
            }
        }
    }

    @include media-breakpoint-up(xxl) {
        font-size: size-rel(14px);
        line-height: size-rel(24px);
        margin-bottom: size-rel(80px);

        &__wrap {
            display: flex;
            flex-wrap: wrap;
            max-width: size-rel(1100px);
        }

        &__group {
            > li {
                flex-shrink: 0;
                margin-bottom: 0;

                &:first-child {
                    margin-right: size-rel(60px);
                }
            }

            &--one {
                margin-right: size-rel(60px);
                margin-bottom: size-rel(40px);

                > li {
                    &:first-child {
                        width: size-rel(130px);
                    }

                    &:last-child {
                        width: 160px;
                    }
                }
            }

            &--two {
                margin-bottom: size-rel(40px);

                > li {
                    &:first-child {
                        width: size-rel(165px);
                    }

                    &:last-child {
                        //  width: 130px;
                    }
                }
            }

            &--three {
                margin-right: size-rel(60px);

                > li {
                    &:first-child {
                        width: size-rel(130px);
                    }

                    &:last-child {
                        width: 160px;
                    }
                }
            }

            &--four {
                flex-wrap: nowrap;

                > li {
                    &:first-child {
                        width: size-rel(165px);
                    }
                }
            }
        }
    }
}

.object-flats {
    margin: 0 size-rel(-16px) size-rel(24px) size-rel(-16px);
    padding: 0 size-rel(16px) size-rel(24px) size-rel(16px);
    border-bottom: 1px solid $gray;

    .swiper-container {
        overflow: visible;
    }

    .swiper-slide {
        width: 120px;
    }

    &__item {
        display: block;
        color: $primary;
        text-decoration: none;
        font-size: size-rel(12px);
        line-height: size-rel(22px);

        &:hover {
            color: $primary;
            text-decoration: none;
        }
    }

    &__image {
        margin-bottom: size-rel(16px);

        img {
            max-height: 64px;
        }
    }

    &__type {
        font-weight: 500;
        color: $accent;
    }

    &__price {
        font-weight: 500;
    }

    &__meter {
        color: $secondary;
        font-size: size-rel(10px);
        line-height: size-rel(20px);
    }

    @include media-breakpoint-up(sm) {
        margin-bottom: size-rel(40px);
        padding-bottom: size-rel(40px);
    }

    @include media-breakpoint-up(md) {
        margin-bottom: size-rel(80px);
    }

    @include media-breakpoint-up(lg) {
        padding: 0 0 size-rel(40px) 0;
        margin: 0 0 size-rel(80px) 0;

        .swiper-slide {
            width: 130px;
        }
    }

    @include media-breakpoint-up(xxl) {
        padding-bottom: size-rel(80px);

        .swiper-slide {
            width: 140px;
        }

        &__item {
            font-size: size-rel(14px);
            line-height: size-rel(24px);
        }

        &__price {
            font-size: size-rel(16px);
            line-height: size-rel(32px);
        }

        &__meter {
            font-size: size-rel(12px);
            line-height: size-rel(22px);
        }
    }
}

.map {
    @include r(1460) {
        height: 585px;
    }

    @include r(767) {
        height: 156px;

        &::before {
            content: 'Раскрыть карту';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: url('../img/map-mobile.jpg') no-repeat center;
            background-size: cover;
            z-index: 5;
            @include fcc;
            font-size: 12px;
            color: $red;
            font-weight: 500;
            cursor: pointer;
        }

        .gm-fullscreen-control,
        .gm-bundled-control {
            display: none !important;
        }

        &.active {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: 1262;

            &::before {
                display: none;
            }

            .map__close {
                @include fcc;
            }

            .btn-mobile {
                @include fcc;
            }
        }
    }

    width: 100%;
    height: 800px;
    position: relative;

    #map {
        width: 100%;
        height: 100%;

        div[role='dialog'] button {
            display: none !important;
        }

        .gm-style .gm-style-iw-t::after,
        .gm-style .gm-style-iw-c {
            box-shadow: none;
        }
    }

    &__controls {
        @include r(1500) {
            top: 24px;
            left: 24px;
        }

        @include r(1023) {
            top: 16px;
            left: 16px;

            .checkbox-group__input:checked + .checkbox-group__label.checkbox-mark {
                background: transparent;
            }
        }

        @include r(767) {
            display: none;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            z-index: 3;
            padding: 40px 16px;

            &.active {
                display: block;
            }

            .section__header--title {
                display: block;
            }

            .map__controls-close {
                @include fcc;
            }
        }

        position: absolute;
        top: 40px;
        left: 24px;
        width: 297px;
        background: #fff;
        padding: 25px;
        z-index: 1;

        &-close {
            display: none;
            width: 30px;
            height: 30px;
            position: absolute;
            top: 42px;
            right: 14px;
        }

        .checkbox.toggle {
            margin-bottom: 29px;
        }

        .checkbox-group__button {
            width: 100%;
        }

        .checkbox-group__item {
            @include r(1500) {
                margin-bottom: 9px;
            }

            @include r(1023) {
                margin-bottom: 5px;
            }

            margin-bottom: 14px;

            img {
                width: 24px;
                margin-right: 9px;
            }

            .checkbox-group__label {
                @include r(1023) {
                    padding: 7px 10px 7px 22px;
                }

                @include r(767) {
                    padding-right: 0;
                }

                @include fcsb;

                span {
                    @include fcn;
                }

                &::before {
                    @include r(1023) {
                        left: 0;
                    }
                }
            }
        }
    }

    .section__header--title {
        display: none;
        font-size: 24px;
        width: 86%;
        margin-bottom: 25px;
    }

    .map-show {
        @include r(767) {
            display: block;
            width: 100%;
            border-radius: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }

        display: none;
    }

    .btn-mobile {
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        border-radius: 0;
        z-index: 2;

        img {
            margin-right: 8px;
        }

        span {
            margin-left: 8px;
            background: #fff;
            padding: 7px;
            border-radius: 4px;
            color: $red;
            font-size: 14px;
            @include fcc;
            line-height: 1;
            font-weight: 500;
        }
    }

    &__close {
        display: none;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 2;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.08);

        img {
            width: 12px;
        }
    }

    &__count {
        font-size: 12px;
    }

    &__list {
        margin-bottom: 34px;
    }

    &__toggle {
        @include r(767) {
            display: none;
        }

        color: $red;
        width: 100%;
        cursor: pointer;
        font-weight: 500;
        position: relative;
        transition: $trans;

        &::before {
            content: '';
            z-index: 9;
            top: calc(50% - 1px);
            right: 0;
            height: 2px;
            width: 8px;
            position: absolute;
            pointer-events: none;
            background: $red;
            transform: rotate(45deg);
            transition: $trans;
            border: 0;
            margin: 0;
            transform-origin: 50% 50%;
        }

        &::after {
            content: '';
            z-index: 9;
            top: calc(50% - 1px);
            right: 5px;
            height: 2px;
            width: 8px;
            position: absolute;
            pointer-events: none;
            background: $red;
            transform: rotate(-45deg);
            transition: $trans;
            border: 0;
            margin: 0 !important;
            transform-origin: 50% 50%;
        }

        &:hover {
            color: $primary;

            &::before,
            &::after {
                background: $primary;
            }
        }

        &.is-hide {
            &::before {
                transform: rotate(-45deg);
                background: $red;
            }

            &::after {
                transform: rotate(45deg);
                background: $red;
            }
        }
    }
}

.marker {
    &-name {
        line-height: 1.71;
    }

    &-addr {
        font-size: 12px;
        color: #818285;
    }
}

.object-about {
    margin-bottom: size-rel(24px);

    @include media-breakpoint-up(sm) {
        margin-bottom: size-rel(16px);
    }
}

.nav-box {
    margin: 0 size-rel(-12px);
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    &__item {
        width: 100%;
        padding: size-rel(16px) size-rel(12px) 0 size-rel(12px);
    }

    &__btn {
        color: $primary;
        text-align: center;
        background: $white;
        height: size-rel(54px);
        text-decoration: none;
        font-weight: 500;
        padding: size-rel(8px) size-rel(24px);
        font-size: size-rel(12px);
        line-height: size-rel(22px);
        box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.08);
        border-radius: $border-radius;
        display: flex;
        align-items: center;

        &--icon {
            font-size: 0;
            line-height: 0;
            margin-right: size-rel(10px);
            height: size-rel(18px);
            width: size-rel(24px);
            display: block;
            position: relative;
            flex-shrink: 0;
        }

        &--text {
            white-space: nowrap;
            display: inline-block;
            flex-grow: 1;
        }

        &--gray {
            top: 0;
            left: 0;
            opacity: 0;
            height: 100%;
            position: absolute;
            display: inline-block;
        }

        &--red {
            top: 0;
            left: 0;
            opacity: 1;
            height: 100%;
            position: absolute;
            display: inline-block;
        }

        &--white {
            top: 0;
            left: 0;
            opacity: 0;
            height: 100%;
            position: absolute;
            display: inline-block;
        }

        &:hover {
            color: $primary;
            text-decoration: none;
        }
    }

    @media (min-width: $screen-xs) {
        &__item {
            width: 50%;
        }
    }

    @include media-breakpoint-up(sm) {
        &__item {
            width: auto;
            padding-top: size-rel(24px);
        }
    }

    @include media-breakpoint-up(lg) {
        &__btn {
            &--red {
                opacity: 0;
                visibility: hidden;
            }

            &--gray {
                opacity: 1;
            }

            &.active,
            &:hover {
                color: $white;
                background: $accent;

                .nav-box {
                    &__btn {
                        &--gray {
                            opacity: 0;
                        }

                        &--white {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    @include media-breakpoint-up(xxl) {
        &__btn {
            height: size-rel(56px);
            font-size: size-rel(14px);
            line-height: size-rel(24px);
        }
    }
}

.finishing {
    &__nav {
        margin-bottom: size-rel(40px);
    }

    &__media {
        overflow: hidden;
        border-radius: 8px;
        position: relative;

        &--image {
            z-index: 1;
            display: block;
        }

        &--content {
            top: 0;
            left: 0;
            z-index: 10;
            width: 100%;
            height: 100%;
            opacity: 0;
            position: absolute;
            visibility: hidden;
        }
    }

    &__list {
        padding-top: size-rel(24px);
    }

    &__point {
        z-index: 10;
        font-size: 0;
        line-height: 0;
        border-radius: 8px;
        width: size-rel(32px);
        height: size-rel(32px);
        display: flex;
        position: absolute;
        align-items: center;
        background: $white;
        justify-content: center;
        fill: $accent;
        box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.08);

        i {
            height: size-rel(16px);
            display: inline-block;
        }

        &:before {
            z-index: 20;
            width: size-rel(260px);
            opacity: 0;
            visibility: hidden;
            font-size: size-rel(14px);
            line-height: size-rel(24px);
            content: attr(data-text);
            padding: size-rel(8px) size-rel(16px);
            border-radius: 8px;
            background: $white;
            position: absolute;
            transition: 0.2s;
        }

        &:after {
            content: '';
            z-index: 20;
            width: 8px;
            height: 8px;
            position: absolute;
            display: inline-block;
            transition: 0.2s;
            opacity: 0;
            visibility: hidden;
        }

        &:hover {
            z-index: 20;
            background: $accent;
            fill: $white;

            &:after,
            &:before {
                opacity: 1;
                visibility: visible;
                transition: 0.2s;
            }
        }

        &--top {
            &:before {
                bottom: calc(100% + 1rem);
                left: calc(50% - 8.125rem);
            }

            &:after {
                bottom: 100%;
                left: calc(50% - 8px);
                border: 8px solid transparent;
                border-top: 8px solid $white;
            }
        }

        &--bottom {
            &:before {
                top: calc(100% + 1rem);
                left: calc(50% - 8.125rem);
            }

            &:after {
                top: 100%;
                left: calc(50% - 8px);
                border: 8px solid transparent;
                border-bottom: 8px solid $white;
            }
        }

        &--left {
            &:before {
                right: calc(100% + 1rem);
            }

            &:after {
                top: calc(50% - 8px);
                right: 100%;
                border: 8px solid transparent;
                border-left: 8px solid $white;
            }
        }

        &--right {
            &:before {
                left: calc(100% + 1rem);
            }

            &:after {
                top: calc(50% - 8px);
                left: 100%;
                border: 8px solid transparent;
                border-right: 8px solid $white;
            }
        }
    }

    @include media-breakpoint-up(sm) {
        &__nav {
            margin-bottom: size-rel(24px);
        }

        &__media {
            &--content {
                opacity: 1;
                visibility: visible;
            }
        }

        &__list {
            display: none;
        }
    }
}

.finishing-nav {
    &__switch {
        z-index: 1;
        position: relative;
        margin-bottom: size-rel(8px);

        &--open {
            z-index: 150;

            .finishing-nav {
                &__dropdown {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                    transition: 0.4s;
                }

                &__label {
                    &--arrow {
                        transform: rotate(180deg);
                        transition: 0.3s;
                    }
                }
            }
        }
    }

    &__label {
        z-index: 50;
        cursor: pointer;
        fill: $primary;
        color: $primary;
        position: relative;
        height: size-rel(48px);
        background: $white;
        font-size: size-rel(12px);
        line-height: size-rel(24px);
        border: 1px solid $gray;
        border-radius: $border-radius;
        padding: size-rel(4px) size-rel(16px);
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--active {
            white-space: nowrap;
            display: inline-block;
        }

        &--arrow {
            font-size: 0;
            line-height: 0;
            height: size-rel(16px);
            display: inline-block;
            transform: rotate(0deg);
            transition: 0.3s;
        }
    }

    &__dropdown {
        margin: 0;
        padding: 0;
        left: 0;
        top: 100%;
        opacity: 0;
        z-index: 30;
        visibility: hidden;
        min-width: 100%;
        list-style: none;
        position: absolute;
        background: $white;
        border-radius: $border-radius;
        box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.08);
        transform: translateY(-50%);
        transition: 0.4s;
    }

    &__item {
        display: block;
        padding: size-rel(14px) size-rel(16px);

        &:hover {
            background: $gray-light;
        }

        &.active {
            background: $gray;
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__button {
        width: calc(50% - 4px);
        outline: none;
        cursor: pointer;
        color: $primary;
        border-radius: 8px;
        display: inline-block;
        text-align: center;
        background: $white;
        text-decoration: none;
        border: 1px solid $gray;
        font-size: size-rel(12px);
        line-height: size-rel(22px);
        padding: size-rel(12px) size-rel(16px);

        &:hover {
            color: $accent;
            border-color: $accent;
            text-decoration: none;
        }

        &.active {
            color: $accent;
            border-color: $accent;
        }
    }

    @include media-breakpoint-up(sm) {
        display: flex;
        align-items: center;

        &__switch {
            margin-bottom: 0;
            width: size-rel(230px);
            flex-shrink: 0;
            margin-right: size-rel(24px);
        }
        &__button {
            width: auto;
            margin-right: size-rel(12px);
        }
    }

    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
    @include media-breakpoint-up(xl) {
    }
    @include media-breakpoint-up(xxl) {
        &__switch {
            width: size-rel(326px);
        }
    }
}

.project-progress {
    &__header {
        margin-bottom: size-rel(24px);
    }

    &__switch {
        &--item {
            &:not(:last-child) {
                margin-bottom: size-rel(8px);
            }
        }
    }

    &__nav {
        display: none;
    }

    &__slider {
        overflow: visible;

        .swiper-slide {
            width: 230px;
        }
    }

    &__item {
        display: block;
        color: $primary;
        position: relative;
        text-decoration: none;
        font-size: size-rel(12px);
        line-height: size-rel(22px);

        &:hover {
            color: $primary;
            text-decoration: none;
        }
    }

    &__image {
        display: block;
        position: relative;
        overflow: hidden;
        border-radius: 8px;

        &:before {
            top: 0;
            left: 0;
            z-index: 5;
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background: rgba(0, 0, 0, 0.25);
        }
    }

    &__label {
        left: 0;
        right: 0;
        color: $white;
        top: calc(50% - 0.5rem);
        z-index: 10;
        display: block;
        font-weight: 500;
        text-align: center;
        position: absolute;
        font-size: size-rel(14px);
        line-height: size-rel(24px);
    }

    &__content {
        padding-top: size-rel(8px);
    }

    &__title {
        font-size: size-rel(14px);
        line-height: size-rel(24px);
    }

    &__text {
        color: $secondary;
    }

    @include media-breakpoint-up(sm) {
        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__switch {
            display: flex;
            align-items: center;

            &--item {
                flex-shrink: 0;
                width: size-rel(296px);
                margin-right: size-rel(16px);

                &:not(:last-child) {
                    margin-bottom: 0;
                    width: size-rel(240px);
                }
            }
        }

        &__slider {
            .swiper-slide {
                width: size-rel(320px);
            }
        }

        &__title {
            font-size: size-rel(16px);
            line-height: size-rel(32px);
        }
    }

    @include media-breakpoint-up(lg) {
        &__nav {
            display: flex;
            align-items: center;

            .slider-button {
                margin-left: size-rel(16px);
            }
        }
    }

    @include media-breakpoint-up(xxl) {
        &__header {
            margin-bottom: size-rel(40px);
        }

        &__slider {
            .swiper-slide {
                width: size-rel(400px);
            }
        }

        &__item {
            font-size: size-rel(14px);
            line-height: size-rel(24px);
        }

        &__content {
            padding-top: size-rel(16px);
        }
    }
}

.offer {
    @include r(1023) {
        @include flexlist(10px);
    }

    @include r(767) {
        margin: 0;
        width: 100%;
    }

    display: flex;
    margin: 0 -20px;

    &__item {
        @include r(1500) {
            margin: 0 10px;

            &:first-child {
                background-size: 80%;
            }
        }

        @include r(1279) {
            padding: 25px 24px;
        }

        @include r(1023) {
            @include flexitem(50%, 5px);

            &:first-child {
                @include r(1023) {
                    @include flexitem(100%, 10px);
                    background-size: 60%;
                }
            }
        }

        @include r(767) {
            width: 100% !important;
            margin: 0 0 20px !important;
            background: none !important;
        }

        padding: 32px 40px;
        background: #ffffff;
        box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.08);
        border-radius: 8px;
        margin: 0 20px;
        background-position: right bottom;
        background-size: contain;
        background-repeat: no-repeat;
        width: 25%;

        &-lg {
            width: 50%;

            .offer__text {
                @include r(767) {
                    max-width: 100%;
                }

                max-width: 50%;
            }
        }
    }

    &__desc {
        font-size: 12px;
        margin-bottom: 8px;
    }

    &__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 1.6;
    }

    &__price {
        font-weight: 600;
        font-size: 20px;
        color: $red;
        line-height: 1.6;
        margin-bottom: 24px;
    }

    &__text {
        font-size: 14px;
        line-height: 1.71;
    }

    .btn {
        @include r(1279) {
            margin-top: 20px;
        }

        margin-top: 40px;
        padding: 13px 39px;
    }
}

.post-slider {
    overflow: visible;

    .swiper-slide {
        width: size-rel(230px);
    }

    @include media-breakpoint-up(sm) {
        .swiper-slide {
            width: size-rel(288px);
        }
    }

    @include media-breakpoint-up(xxl) {
        .swiper-slide {
            width: size-rel(326px);
        }
    }
}

.post-preview {
    display: block;
    overflow: hidden;
    color: $primary;
    background: $white;
    border-radius: 8px;
    position: relative;
    text-decoration: none;
    font-size: size-rel(12px);
    line-height: size-rel(22px);
    box-shadow: 2px 2px 18px 2px rgba(0, 0, 0, 0.05);

    &:hover {
        color: $primary;
        text-decoration: none;
    }

    &__image {
        z-index: 1;
        position: relative;
    }

    &__content {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 5;
        padding: size-rel(16px);
        position: absolute;
    }

    &__title {
        font-weight: 500;
        font-size: size-rel(14px);
        line-height: size-rel(24px);
        margin-bottom: size-rel(8px);
    }

    &__date {
        padding: size-rel(4px) size-rel(8px);
        left: size-rel(16px);
        bottom: size-rel(24px);
        position: absolute;
        background: $white;
        font-size: size-rel(10px);
        line-height: size-rel(20px);
        box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
    }

    @include media-breakpoint-up(sm) {
        &__content {
            padding: size-rel(16px) size-rel(24px);
        }

        &__title {
            margin-bottom: size-rel(16px);
        }

        &__date {
            left: size-rel(24px);
        }
    }

    @include media-breakpoint-up(xxl) {
        font-size: size-rel(14px);
        line-height: size-rel(24px);

        &__title {
            font-size: size-rel(16px);
            line-height: size-rel(32px);
            margin-bottom: size-rel(16px);
        }

        &__date {
            font-size: size-rel(12px);
            line-height: size-rel(22px);
        }
    }
}

.top-bar {
    top: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 1600;
    position: fixed;
    font-size: size-rel(10px);
    line-height: size-rel(20px);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;

    &--visible {
        opacity: 1;
        visibility: visible;
        transition: 0.3s;
    }

    &__wrap {
        position: relative;
        margin-left: size-rel(200px);

        &:before {
            top: 0;
            left: 0;
            bottom: 0;
            z-index: 1;
            content: '';
            width: 3650px;
            position: absolute;
            background: $white;
            box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.08);
        }
    }

    &__main {
        z-index: 10;
        height: size-rel(64px);
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
    }

    &__content {
        display: flex;
        align-items: center;
    }

    &__name {
        max-width: size-rel(200px);
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: size-rel(12px);
        line-height: size-rel(20px);
        white-space: nowrap;
        margin-right: size-rel(40px);
    }

    &__nav {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;

        li {
            margin-right: size-rel(16px);

            a {
                color: $primary;
                white-space: nowrap;
                text-decoration: none;

                &:hover {
                    color: $accent;
                    text-decoration: none;
                }

                &.active {
                    color: $accent;
                }
            }

            &.active {
                a {
                    color: $accent;
                }
            }
        }
    }

    &__buttons {
        display: flex;
        align-items: center;

        .btn {
            margin-left: size-rel(16px);

            &.fixed {
                @include r(1500) {
                    top: 7px;
                }

                @include r(1279) {
                    display: none;
                }

                position: fixed;
                right: 65px;
                top: 11px;
                z-index: 1601;
            }
        }
    }

    &__flat {
        font-weight: 500;
        white-space: nowrap;
        font-size: size-rel(12px);
        line-height: size-rel(22px);
        display: flex;
        align-items: center;

        &--image {
            font-size: 0;
            line-height: 0;
            height: size-rel(38px);
            margin-right: size-rel(24px);
        }

        &--name {
            margin-right: size-rel(24px);
        }
    }

    @include media-breakpoint-up(lg) {
        display: block;
    }

    @include media-breakpoint-up(xl) {
        &__wrap {
            margin-left: size-rel(270px);
        }
    }

    @include media-breakpoint-up(xxl) {
        font-size: size-rel(12px);
        line-height: size-rel(22px);

        &__wrap {
            margin-left: size-rel(365px);
        }

        &__main {
            height: size-rel(70px);
        }

        &__name {
            max-width: size-rel(320px);
            font-weight: 600;
            font-size: size-rel(20px);
            line-height: size-rel(320px);
        }

        &__nav {
            li {
                margin-right: size-rel(24px);
            }
        }

        &__flat {
            font-size: size-rel(14px);
            line-height: size-rel(24px);
        }
    }
}

.rightmodal {
    @include r(1380) {
        padding: 45px 30px 0;
        width: 400px;
    }

    @include r(767) {
        width: 100%;
    }

    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 513px;
    background: #fff;
    z-index: 1601;
    padding: 80px 40px 0;
    transform: translateX(100%);
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.08);
    transition: $trans;
    opacity: 0;
    pointer-events: none;
    user-select: none;

    &.show {
        transform: translateX(0);
        opacity: 1;
        pointer-events: all;
        user-select: initial;
    }

    &__close {
        @include r(1380) {
            right: 20px;
            top: 10px;
            width: 30px;
            height: 30px;

            svg {
                width: 12px;
            }
        }

        @include r(1279) {
            box-shadow: none;
        }

        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: absolute;
        top: 40px;
        right: 40px;
        box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.08);
        @include fcc;
        cursor: pointer;
        transition: $trans;

        &:hover {
            background: $red;

            path {
                stroke: #fff;
            }
        }

        path {
            transition: $trans;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 40px;
    }

    &__text {
        position: relative;

        p {
            line-height: 1.71;
        }
    }
}
