.filter-mobile {
    &__header {
        @include r(1023) {
            display: flex;
            margin-bottom: 40px;
        }

        margin-bottom: size-rel(40px);
        align-items: center;
        justify-content: space-between;
        padding: 0 16px;
        display: none;

        &--title {
            color: $primary;
            font-weight: 600;
            font-size: size-rel(24px);
            line-height: size-rel(32px);
        }

        &--close {
            @include r(1023) {
                position: relative;
                right: 4px;
                top: 2px;
                height: 19px;
            }

            font-size: 0;
            line-height: 0;
            margin: 0;
            padding: 0;
            border: none;
            background: transparent;
            height: size-rel(14px);
            display: inline-block;

            svg {
                stroke: $secondary;
                fill: none;
            }
        }
    }
}

.mobile-filter-button {
    @include r(1023) {
        display: flex;
    }

    z-index: 2001;
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 0;
    border: none;
    outline: none;
    background: transparent;
    height: size-rel(56px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    background: $accent;
    font-weight: 700;
    cursor: pointer;
    font-size: size-rel(10px);
    line-height: size-rel(20px);
    display: none;

    &__icon {
        fill: none;
        stroke: $white;
        font-size: 0;
        line-height: 0;
        height: size-rel(17px);
        display: inline-block;
    }

    &__text {
        white-space: nowrap;
        display: inline-block;
        padding: 0 size-rel(8px);
    }

    &__value {
        color: $accent;
        background: $white;
        border-radius: 4px;
        font-weight: 500;
        min-width: size-rel(24px);
        padding: size-rel(2px) size-rel(2px);
        font-size: size-rel(14px);
        line-height: size-rel(20px);
    }
}

.filter {
    @include r(1023) {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #fff;
        z-index: 2000;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 40px 0;
        display: none;
    }

    @include r(767) {
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }

    margin-bottom: size-rel(80px);

    &.open {
        display: flex;
        flex-direction: column;
    }

    &__primary {
        @include r(1023) {
            margin: 0;
            @include flexlist(12px);
            padding-right: 22.5%;
            padding-left: 13px;
            order: 1;
        }

        @include r(767) {
            width: 100%;
            margin: 0;
        }

        display: flex;
        margin: 0 size-rel(-12px);

        &--item {
            @include r(1023) {
                @include flexitem(50%, 16px, 24px);
                padding: 0;

                &:nth-child(odd) {
                    margin-right: 10px !important;
                }
            }

            @include r(767) {
                width: 100% !important;
                margin: 0 0 24px !important;
            }

            width: calc(25% - 0.5rem);
            padding: 0 size-rel(12px);
            margin-bottom: size-rel(24px);

            &:first-child {
                @include r(1023) {
                    @include flexitem(50%, 16px, 24px);
                    padding: 0;
                }

                width: calc(25% + 1.5rem);
            }
        }
    }

    &__actions {
        @include r(1023) {
            flex-wrap: wrap;
            padding: 0 16px;
            margin-bottom: 0;
            order: 3;
        }

        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: size-rel(40px);
        padding-top: size-rel(16px);

        &__column {
            @include r(1023) {
                &:first-child {
                    order: 2;
                    width: 100%;
                }
            }

            display: flex;
            align-items: center;
        }
    }

    .btn-map,
    .btn-filter {
        @include r(1023) {
            display: none;
        }

        margin-right: size-rel(40px);
    }

    .btn-filter {
        padding: 12px 45px;
    }

    .btn-reset {
        @include r(1023) {
            width: 100%;
            padding: 20px 0 23px;
            color: #818285;
            margin-top: 19px;

            path {
                stroke: #818285;
            }
        }
    }

    &__toggle {
        @include r(1023) {
            display: none;
        }

        border: none;
        outline: none;
        cursor: pointer;
        font-weight: 500;
        color: $red;
        font-size: size-rel(12px);
        line-height: size-rel(22px);
        background: transparent;
        display: flex;
        align-items: center;
        transition: $trans;

        &.mobile {
            @include r(1023) {
                order: 2;
                @include fcn;
                margin-top: 25px;
                margin-left: 11px;
            }

            display: none;
        }

        &--text {
            display: inline-block;
            margin-right: size-rel(8px);
        }

        &--icon {
            font-size: 0;
            line-height: 0;
            height: 12px;
            display: inline-block;
            transform: rotate(0deg);
        }

        svg {
            fill: $accent;
            transition: $trans;
        }

        &--open {
            .filter__toggle--icon {
                transform: rotate(180deg);
            }
        }

        &:hover {
            color: $primary;

            svg {
                fill: $primary;
            }
        }

        &.active {
            .filter__toggle--icon {
                transform: rotate(-45deg);
                transition: 0.3s;
            }
        }
    }

    &__secondary {
        @include r(1023) {
            margin-top: 12px;
            order: 3;
            padding-top: 28px;
            padding-left: 4px;
            padding-right: 22.5%;
            padding-bottom: 0;
        }

        @include r(767) {
            margin-top: 0;
        }

        display: none;
        padding-bottom: size-rel(24px);

        &--row {
            @include r(1023) {
                @include flexlist(12px);
            }

            @include r(767) {
                width: 100%;
                margin: 0;
            }

            display: flex;
            margin: 0 size-rel(-12px);
            margin-bottom: size-rel(24px);
        }

        &--item {
            @include r(1023) {
                @include flexitem(50%, 12px, 24px);
                width: calc(50% - 24px) !important;

                .checkbox-group__row {
                    justify-content: center;
                }

                &:nth-child(1) {
                    order: 1;
                }

                &:nth-child(2) {
                    order: 3;
                    padding-right: 0;
                }

                &:nth-child(3) {
                    order: 2;
                    width: 100% !important;

                    .range {
                        @include fcsb;

                        &:hover .range__main {
                            border-color: #ccc;
                        }

                        & > * {
                            width: 100%;
                        }
                    }

                    .range-wrap {
                        position: relative;
                        margin-right: 25px;
                    }

                    .range__dropdown {
                        position: static;
                        visibility: visible;
                        opacity: 1;
                        border-radius: 8px;
                        padding: 6px 0;
                        margin-bottom: 0;
                    }
                }

                &:nth-child(4) {
                    order: 4;
                    padding-left: 0;
                }
            }

            @include r(767) {
                width: 100% !important;
                margin: 0 0 24px;
            }

            padding: 0 size-rel(12px);

            &:nth-child(1) {
                @include r(1023) {
                    width: 100% !important;
                }

                width: 34%;
            }

            &:nth-child(2) {
                width: 19%;
            }

            &:nth-child(3) {
                width: 28%;
            }

            &:nth-child(4) {
                @include r(1023) {
                    margin-bottom: 36px;
                }

                @include r(767) {
                    margin-bottom: 24px;
                }

                width: 19%;
            }
        }

        &--inline {
            @include r(1023) {
                @include flexlist(12px);
                padding: 0 12px;
            }

            @include r(767) {
                width: 100%;
                margin: 0;
            }

            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;

            > li {
                @include r(1023) {
                    @include flexitem(50%, 12px, 24px);
                    width: calc(50% - 24px) !important;

                    .checkbox-group,
                    .btn-checkbox {
                        width: 100%;
                    }
                }

                @include r(767) {
                    width: 100% !important;
                    margin: 0 0 24px;

                    .checkbox-group__row .checkbox-group__item {
                        width: 50%;
                        display: flex;
                        justify-content: center;
                    }
                }

                margin-right: size-rel(24px);
            }
        }
    }

    &__params {
        @include r(1023) {
            margin-bottom: 0;
            order: 5;
        }

        @include r(767) {
            margin-bottom: 30px;
        }

        margin-bottom: size-rel(40px);
        font-size: size-rel(12px);
        line-height: size-rel(22px);

        &--list {
            @include r(1023) {
                padding: 0 16px 10px;
            }

            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }

        &--item {
            @include r(1023) {
                margin-bottom: 5px;

                &:first-child {
                    color: #818285;
                }
            }

            margin-right: size-rel(24px);
        }

        &--title {
            white-space: nowrap;
            color: $secondary;
        }

        &--value {
            cursor: pointer;
            color: $primary;
            display: flex;
            align-items: center;
            white-space: nowrap;

            &:hover {
                .filter__params--del {
                    opacity: 1;
                    transition: 0.3s;
                    transform: rotate(180deg);
                }
            }
        }

        &--label {
            margin-right: size-rel(8px);
        }

        &--del {
            font-size: 0;
            line-height: 0;
            height: 8px;
            cursor: pointer;
            opacity: 0.7;
            display: inline-block;
            transition: 0.3s;
            transform: rotate(0deg);

            svg {
                stroke: $accent;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        display: block;
    }

    @include media-breakpoint-up(xl) {
        &__primary {
            &--item {
                width: 24.33%;

                &:first-child {
                    width: 27%;
                }
            }
        }

        &__secondary {
            &--item {
                &:nth-child(1) {
                    width: 32.01%;
                }

                &:nth-child(2) {
                    width: 24.33%;
                }

                &:nth-child(3) {
                    width: 24.33%;
                }

                &:nth-child(4) {
                    width: 19.33%;
                }
            }
        }
    }

    @include media-breakpoint-up(xxl) {
        &__primary {
            &--item {
                width: 25%;

                &:first-child {
                    width: 25%;
                }
            }
        }

        &__secondary {
            &--item {
                &:nth-child(1) {
                    width: 50%;
                }

                &:nth-child(2) {
                    width: 15%;
                }

                &:nth-child(3) {
                    width: 20%;
                }

                &:nth-child(4) {
                    width: 15%;
                }
            }
        }
    }
}

.filter-progress {
    @include r(1023) {
        order: 4;
        margin-bottom: 24px;
    }

    height: 1px;
    position: relative;
    background: $gray;

    &-bar {
        height: 1px;
        background: $accent;
    }
}
