.items-grid {
    @include r(1023) {
        display: grid !important;
    }

    display: none;
    grid-template-columns: 1fr;
    grid-row-gap: size-rel(24px);
    grid-column-gap: size-rel(24px);
    margin-bottom: size-rel(40px);

    @media (min-width: $screen-xs) {
        grid-template-columns: 1fr 1fr;
    }

    @include media-breakpoint-up(sm) {
        margin-bottom: size-rel(64px);
        grid-row-gap: size-rel(40px);
    }

    @include media-breakpoint-up(md) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @include media-breakpoint-up(xl) {
        margin-bottom: size-rel(80px);
    }

    @include media-breakpoint-up(xl) {
        grid-row-gap: size-rel(40px);
        grid-column-gap: size-rel(40px);
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    &.active {
        @include r(1023) {
            display: grid;
        }

        display: grid;
    }
}

.items-list {
    @include r(1023) {
        display: none !important;
    }

    display: none;

    &.active {
        display: block;
    }

    .flat {
        &-item {
            @include r(1400) {
                padding: 13px;
            }

            @include fcn;
            padding: 18px 55px;
            border-bottom: 1px solid #ccc;
            box-shadow: none;
            position: relative;

            &:last-child {
                border-bottom: 0;
            }

            &:hover {
                box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.08);
                z-index: 2;
            }

            & > div {
                padding-right: 5px;
                position: relative;

                &::after {
                    content: '';
                    @include centerYa;
                    right: 0;
                    height: 16px;
                    width: 1px;
                    background: #ccc;
                    display: none;
                }

                &:last-child {
                    padding-right: 0;
                }

                &:nth-child(1) {
                    @include r(1500) {
                        width: 13%;
                    }

                    width: 7%;
                }

                &:nth-child(3) {
                    @include r(1500) {
                        width: 28%;
                    }

                    width: 20%;
                }

                &:nth-child(4) {
                    @include r(1500) {
                        width: calc(14% - 38px);
                    }

                    width: calc(10% - 38px);
                    margin-right: 38px;

                    &::after {
                        display: block;
                    }
                }

                &:nth-child(5) {
                    @include r(1500) {
                        width: 30%;
                    }

                    width: 35%;
                }

                &:nth-child(6) {
                    @include r(1500) {
                        width: 9%;
                    }

                    width: 9%;
                }

                &:nth-child(7) {
                    @include r(1500) {
                        width: calc(15% - 34px);
                    }

                    width: calc(10% - 34px);
                    margin-right: 34px;

                    &::after {
                        display: block;
                    }
                }

                &:nth-child(8) {
                    @include r(1500) {
                        width: 11%;
                    }

                    width: 9%;
                }
            }

            &__media--image {
                width: 56px;
                height: 56px;
                margin: 0;
                position: relative;

                &:hover {
                    &::before {
                        opacity: 1;
                    }

                    & + .flat-item__popup {
                        opacity: 1;
                        top: -7px;
                    }
                }

                &::before {
                    content: '';
                    @include centerYa;
                    left: 33px;
                    width: 18px;
                    height: 18px;
                    background: url('../img/icons/zoom.svg') no-repeat center;
                    background-size: contain;
                    opacity: 0;
                    transition: $trans;
                }

                img {
                    max-width: 56px;
                }
            }

            &__popup {
                padding: 24px;
                background: #fff;
                box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.08);
                border-radius: 8px;
                position: absolute;
                top: 20px;
                left: 0;
                transform: translateY(-100%);
                display: block;
                pointer-events: none;
                user-select: none;
                opacity: 0;
                transition: $trans;

                img {
                    height: 146px;
                    width: auto;
                }
            }

            &__title {
                @include r(1500) {
                    margin-bottom: 13px;
                }

                font-size: 14px;
                font-weight: 600;
                margin-bottom: 3px;
            }

            &__tags {
                height: auto;
                min-height: auto;
            }

            &__object {
                height: auto;
                margin: 0;
            }

            &__price {
                margin: 0;
                display: block;

                &--total {
                    @include r(1500) {
                        font-size: 14px;
                    }

                    font-size: 16px;
                    margin-bottom: 12px;
                    white-space: nowrap;
                }

                &--meter {
                    @include r(1500) {
                        font-size: 10px;
                    }
                }
            }

            &__completion {
                @include r(1500) {
                    font-size: 12px;
                }

                font-size: 14px;
            }
        }
    }
}

.table {
    &__header {
        @include r(1400) {
            padding: 13px 16px;
        }

        @include fcn;
        border: 1px solid #cccccc;
        padding: 14px 55px;
        margin-bottom: 16px;

        & > div {
            padding-right: 5px;

            &:last-child {
                padding-right: 0;
            }

            &:nth-child(1) {
                @include r(1500) {
                    width: 13%;
                }

                width: 7%;
            }

            &:nth-child(2) {
                @include r(1500) {
                    width: 28%;
                }

                width: 21%;
            }

            &:nth-child(3) {
                @include r(1500) {
                    width: 14%;
                }

                width: 9%;
            }

            &:nth-child(4) {
                @include r(1500) {
                    width: 30%;
                }

                width: 35.5%;
            }

            &:nth-child(5) {
                @include r(1500) {
                    width: 9%;
                }

                width: 7.5%;
            }

            &:nth-child(6) {
                @include r(1500) {
                    width: 15%;
                }

                width: 11%;
            }

            &:nth-child(7) {
                @include r(1500) {
                    width: 11%;
                }

                width: 9%;
            }
        }
    }

    &__body {
        margin-bottom: 80px;
    }
}

.item {
    color: $primary;
    position: relative;
    background: $white;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.08);

    &__header {
        position: relative;
    }

    &__media {
        z-index: 1;
        display: block;
        position: relative;
        transition: 0.3s;
        max-width: 100%;
        overflow: hidden;

        &--image {
            z-index: 10;
            display: block;
            position: relative;
        }

        &--map {
            transition: 0.3s;
            display: none;
        }
    }

    &__toggle {
        margin: 0;
        z-index: 30;
        outline: none;
        cursor: pointer;
        right: size-rel(16px);
        bottom: size-rel(20px);
        position: absolute;
        white-space: nowrap;
        display: inline-block;
        background: $white;
        font-weight: 500;
        text-align: center;
        color: $primary;
        text-decoration: none;
        border-radius: $border-radius;
        padding: size-rel(4px) size-rel(10px);
        font-size: size-rel(12px);
        line-height: size-rel(20px);
        border: 1px solid $gray-light;

        &:after {
            content: attr(data-show);
        }
    }

    &__tags {
        z-index: 5;
        font-size: 0;
        line-height: 0;
        top: size-rel(8px);
        left: size-rel(8px);
        right: size-rel(8px);
        position: absolute;
        display: flex;
        flex-wrap: wrap;

        &.show {
            .item__tag {
                opacity: 1;
                pointer-events: all;
                user-select: initial;
                transform: translateY(0);
            }
        }

        &--toggle {
            outline: none;
            font-size: 0;
            line-height: 0;
            border-radius: 4px;
            position: relative;
            width: size-rel(28px);
            height: size-rel(28px);
            background: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $gray;
            margin-left: size-rel(6px);
            cursor: pointer;

            svg {
                fill: $secondary;
                transition: $trans;
            }

            &:hover {
                svg {
                    @include r(1279) {
                        transform: rotate(0);
                    }

                    transform: rotate(180deg);
                }
            }

            &.active {
                svg {
                    transform: rotate(180deg);
                }
            }
        }
    }

    &__tag {
        position: relative;
        background: $white;
        font-size: 10px;
        line-height: 18px;
        color: $primary;
        white-space: nowrap;
        border: 1px solid $gray;
        box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.08);
        padding: size-rel(4px) size-rel(8px) size-rel(4px) size-rel(16px);
        border-radius: 4px;
        margin-bottom: 8px;
        transition: $trans;
        opacity: 0;
        transform: translateY(30px);

        &:before {
            left: 8px;
            top: calc(50% - 2px);
            content: '';
            font-size: 0;
            line-height: 0;
            cursor: pointer;
            border-radius: 50%;
            position: absolute;
            display: inline-block;
            width: size-rel(4px);
            height: size-rel(4px);
        }

        &:first-child {
            display: inline-block;
            transform: none;
            opacity: 1;
        }

        &:nth-child(1) {
            transition-delay: 50ms;
        }

        &:nth-child(2) {
            transition-delay: 100ms;
        }

        &:nth-child(3) {
            transition-delay: 150ms;
        }

        &:nth-child(4) {
            transition-delay: 200ms;
        }

        &:nth-child(5) {
            transition-delay: 250ms;
        }

        &:nth-child(6) {
            transition-delay: 300ms;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &--orange {
            &:before {
                background: $red;
            }
        }

        &--blue {
            &:before {
                background: #46bcff;
            }
        }

        &.active {
            opacity: 1;
            pointer-events: all;
            user-select: initial;
            transform: translateY(0);
        }
    }

    &__content {
        text-decoration: none;
        padding: size-rel(12px) size-rel(16px) size-rel(16px) size-rel(16px);

        &--base {
            display: block;
            padding-top: 2px;
        }

        &--hover {
            display: none;
        }
    }

    &__info {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: calc(100% - 1rem);
        white-space: nowrap;
        font-size: size-rel(10px);
        line-height: size-rel(20px);
        display: flex;
        align-items: center;

        &--completion {
            display: inline-block;
            margin-right: size-rel(12px);
        }

        &--developer {
            color: $accent;
            display: inline-block;
            text-decoration: none;
        }

        &--apartments {
            color: $accent;
            display: inline-block;
            text-decoration: none;
        }
    }

    &__title {
        @include r(1279) {
            min-height: 32px;
        }

        @include r(767) {
            min-height: initial;
        }

        font-weight: 600;
        font-size: size-rel(16px);
        line-height: size-rel(16px);
        margin-bottom: 8px;
        min-height: 40px;
    }

    &__district {
        max-width: 100%;
        display: flex;
        align-items: center;
        font-size: size-rel(12px);
        line-height: size-rel(22px);
        margin-bottom: size-rel(4px);

        &--icon {
            font-size: 0;
            line-height: 0;
            width: size-rel(8px);
            height: size-rel(8px);
            display: inline-block;
            margin-right: size-rel(8px);
        }

        &--name {
            font-weight: 500;
            white-space: nowrap;
            margin-right: size-rel(8px);

            span {
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
            }
        }

        &--distance {
            display: flex;
            align-items: center;
            white-space: nowrap;
            font-size: size-rel(10px);
            line-height: size-rel(20px);

            i {
                height: 15px;
                font-size: 0;
                line-height: 0;
                display: inline-block;
                margin-right: size-rel(4px);
            }

            span {
                display: inline-block;
            }
        }
    }

    &__data {
        display: flex;
        align-items: center;
        font-size: size-rel(10px);
        line-height: size-rel(20px);

        &--price {
            font-weight: 500;
            font-size: size-rel(14px);
            line-height: size-rel(24px);
            margin-right: size-rel(12px);
        }
    }

    &__price {
        font-size: size-rel(10px);
        line-height: size-rel(19px);

        &--table {
            width: 200px;
        }
    }

    &__table {
        display: grid;
        grid-column-gap: size-rel(30px);
        grid-template-columns: 1fr 1fr;

        &--elem {
            display: flex;
            align-items: center;
        }

        &--label {
            width: 56px;
            flex-shrink: 0;
            color: $secondary;
        }
    }

    &__marker {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;

        &--elem {
            height: 30px;
            color: $white;
            font-weight: 500;
            background: $accent;
            border-radius: 8px;
            position: relative;
            white-space: nowrap;
            padding: size-rel(4px) size-rel(8px);
            font-size: size-rel(12px);
            line-height: size-rel(22px);
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateY(15px);

            &:before {
                top: -16px;
                content: '';
                display: block;
                position: absolute;
                left: calc(50% - 8px);
                border: 8px solid transparent;
                border-bottom: 8px solid $accent;
            }
        }

        &--icon {
            height: 15px;
            font-size: 0;
            line-height: 0;
            display: inline-block;
            margin-right: size-rel(8px);
        }

        svg {
            fill: $white;
        }
    }

    &--accent {
        color: $white;
        background: $accent;

        .item__district--distance {
            fill: $white;
        }

        .item__info--developer {
            color: $white;
        }
    }

    &--switch {
        color: $primary;
        background: $white;

        .item {
            &__media {
                &--image {
                    display: none;
                }

                &--map {
                    display: block;
                }
            }

            &__content {
                &--base {
                    display: none;
                }

                &--hover {
                    display: block;
                }
            }

            &__toggle {
                &:after {
                    content: attr(data-hide);
                }
            }
        }
    }

    @include media-breakpoint-up(sm) {
        &__content {
            padding-top: size-rel(8px);
        }

        &__info {
            font-size: size-rel(12px);
            line-height: size-rel(22px);
        }

        &__title {
            margin-bottom: size-rel(4px);
        }

        &__district {
            &--distance {
                font-size: size-rel(12px);
                line-height: size-rel(22px);
            }
        }

        &__price {
            font-size: size-rel(12px);
            line-height: size-rel(22px);

            &--table {
                width: 100%;
            }
        }

        &__table {
            grid-column-gap: size-rel(26px);
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    @include media-breakpoint-up(md) {
        &__info {
            font-size: size-rel(10px);
            line-height: size-rel(20px);
        }

        &__table {
            grid-column-gap: size-rel(26px);
            grid-template-columns: 1fr 1fr;
        }

        &__price {
            font-size: size-rel(10px);
            line-height: size-rel(20px);
        }

        &__district {
            &--name {
                max-width: 120px;
            }

            &--distance {
                font-size: size-rel(10px);
                line-height: size-rel(20px);
            }
        }
    }

    @include media-breakpoint-up(lg) {
        transition: 0.3s;

        &__toggle {
            display: none;
        }

        &:hover {
            color: $primary;
            background: $white;
            transition: 0.3s;
            box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.16);

            .item {
                &__media {
                    &--image {
                        display: none;
                    }

                    &--map {
                        display: block;
                    }
                }

                &__content {
                    &--base {
                        display: none;
                    }

                    &--hover {
                        display: block;
                    }
                }
            }
        }
    }

    @include media-breakpoint-up(xxl) {
        &__content {
            padding-top: size-rel(12px);
        }

        &__info {
            font-size: size-rel(12px);
            line-height: size-rel(22px);

            &--completion {
                margin-right: 16px;
            }
        }

        &__table {
            grid-column-gap: size-rel(32px);
        }

        &__title {
            overflow: hidden;
            font-size: size-rel(20px);
            line-height: size-rel(20px);
        }

        &__price {
            font-size: size-rel(12px);
            line-height: size-rel(22px);
        }

        &__district {
            &--name {
                max-width: 140px;
            }

            &--distance {
                font-size: size-rel(12px);
                line-height: size-rel(22px);
            }
        }

        &__tags {
            top: 16px;
            left: 16px;

            &--toggle {
                width: size-rel(30px);
                height: size-rel(30px);
                margin-right: size-rel(8px);
            }

            &--dropdown {
                top: calc(100% + 8px);

                li {
                    margin-bottom: size-rel(8px);
                }
            }
        }

        &__tag {
            font-size: size-rel(12px);
            line-height: size-rel(20px);
        }
    }
}

.item-offer {
    color: $primary;
    position: relative;
    background: $white;
    min-height: 350px;
    font-size: size-rel(12px);
    line-height: size-rel(22px);
    padding: size-rel(16px);
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;

    &__title {
        z-index: 10;
        font-weight: 500;
        position: relative;
        padding: 0 size-rel(8px);
        font-size: size-rel(14px);
        line-height: size-rel(24px);
        margin-bottom: size-rel(16px);
    }

    &__text {
        flex-grow: 1;
        z-index: 10;
        position: relative;
        padding: 0 size-rel(8px);
    }

    &__button {
        z-index: 10;
        position: relative;

        .btn {
            width: 100%;
        }
    }

    &__bg {
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        position: absolute;
    }

    @media (min-width: $screen-xs) {
        min-height: inherit;
    }

    @include media-breakpoint-up(md) {
        font-size: size-rel(14px);
        line-height: size-rel(24px);

        &__title {
            font-size: size-rel(16px);
            line-height: size-rel(32px);
        }
    }

    @include media-breakpoint-up(xxl) {
        padding: size-rel(24px);
    }
}

.flat-item {
    display: block;
    color: $primary;
    background: $white;
    text-decoration: none;
    font-size: size-rel(12px);
    line-height: size-rel(22px);
    padding: size-rel(8px) size-rel(16px) size-rel(14px) size-rel(16px);
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.08);

    &:hover {
        color: $primary;
        text-decoration: none;
    }

    &.not-found {
        .flat-item__media--image {
            position: relative;

            &::before {
                content: 'Нет планировки';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                @include fcc;
                font-weight: 500;
            }
        }
    }

    &__object {
        font-weight: 500;
        color: $accent;
        margin-bottom: size-rel(14px);
    }

    &__media {
        display: flex;
        justify-content: center;
        margin-bottom: size-rel(16px);

        &--image {
            @include r(1500) {
                height: 107px;
            }

            @include r(1023) {
                height: 202px;
            }

            @include r(767) {
                height: 152px;
            }

            display: block;
            margin: 0 auto;
            max-width: size-rel(180px);
            height: 184px;
            @include fcc;

            img {
                max-height: 100%;
            }
        }
    }

    &__title {
        font-weight: 600;
        font-size: size-rel(16px);
        line-height: size-rel(16px);
        margin-bottom: size-rel(8px);
    }

    &__price {
        @include fcn;
        margin-bottom: size-rel(16px);

        &--total {
            font-weight: 600;
            font-size: size-rel(14px);
            line-height: 1;
            margin-right: size-rel(8px);
        }

        &--meter {
            font-size: size-rel(12px);
            line-height: 1;
            color: #818285;
        }
    }

    &__tags {
        min-height: size-rel(36px);
        display: flex;
        align-items: flex-start;
        margin-right: size-rel(-4px);
        white-space: nowrap;
    }

    &__tag {
        display: block;
        border-radius: 4px;
        color: $primary;
        background: $gray-light;
        margin-right: size-rel(4px);
        padding: 2px 9px;
        font-size: size-rel(10px);
        line-height: size-rel(16px);
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @include media-breakpoint-up(sm) {
        padding: size-rel(16px);

        &__object {
            text-overflow: ellipsis;
            overflow: hidden;
            height: size-rel(44px);
            margin-bottom: size-rel(8px);
        }

        &__media {
            margin-bottom: size-rel(40px);

            &--image {
                max-width: 276px;
            }
        }

        &__tags {
            min-height: size-rel(42px);
        }

        &__tag {
            font-size: size-rel(12px);
            line-height: size-rel(22px);
        }
    }

    @include media-breakpoint-up(lg) {
        transition: 0.3s;

        &__object {
            color: $primary;
            transition: 0.3s;
        }

        &__tag {
            font-size: size-rel(10px);
            line-height: size-rel(16px);
        }

        &:hover {
            transition: 0.3s;
            box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.16);

            .flat-item__object {
                color: $accent;
                transition: 0.3s;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        padding-top: size-rel(8px);

        &__media {
            margin-bottom: size-rel(8px);

            &--image {
                width: 60%;
                max-width: inherit;
            }
        }

        &__tags {
            min-height: size-rel(36px);
        }
    }

    @include media-breakpoint-up(xxl) {
        padding: size-rel(16px);
        font-size: size-rel(14px);
        line-height: size-rel(24px);

        &__completion {
            font-size: size-rel(12px);
            line-height: size-rel(22px);
        }

        &__media {
            margin-bottom: size-rel(24px);

            &--image {
                width: size-rel(214px);
                max-width: inherit;
            }
        }

        &__object {
            height: size-rel(48px);
            margin-bottom: size-rel(6px);
        }

        &__title {
            font-size: size-rel(20px);
            line-height: size-rel(32px);
            margin-bottom: 13px;
        }

        &__price {
            margin-bottom: size-rel(24px);
        }

        &__tags {
            height: size-rel(50px);
        }

        &__tag {
            font-size: size-rel(12px);
            line-height: size-rel(22px);
        }

        &__info {
            font-size: size-rel(12px);
            line-height: size-rel(22px);
        }
    }
}

.flats-list {
    width: 100%;
    font-size: size-rel(12px);
    line-height: size-rel(22px);
    margin-bottom: size-rel(40px);
    display: none;

    &__tr {
        color: $primary;
        position: relative;
        text-decoration: none;
        height: size-rel(88px);
        display: table-row;

        &:hover {
            color: $primary;
            text-decoration: none;
        }

        &:hover {
            z-index: 20;
            background: $white;
            box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.08);
        }
    }

    &__header {
        box-shadow: none;
        background: $white;
        height: size-rel(54px);

        &:hover {
            box-shadow: none;
        }
    }

    &__th {
        padding: 0 size-rel(12px);
        display: table-cell;
        vertical-align: middle;
        border-top: 1px solid $gray;
        border-bottom: 1px solid $gray;

        &:first-child {
            border-left: 1px solid $gray;
        }

        &:last-child {
            border-right: 1px solid $gray;
        }

        &--image {
            text-align: center;
            position: relative;
        }

        &--floor {
            text-align: center;
            position: relative;

            &:before {
                right: 0;
                top: calc(50% - 0.5rem);
                content: '';
                width: 1px;
                font-size: 0;
                line-height: 0;
                display: block;
                background: $gray;
                position: absolute;
                height: size-rel(16px);
            }
        }

        &--date {
            text-align: center;
            position: relative;

            &:before {
                right: 0;
                top: calc(50% - 0.5rem);
                content: '';
                width: 1px;
                font-size: 0;
                line-height: 0;
                display: block;
                background: $gray;
                position: absolute;
                height: size-rel(16px);
            }
        }

        &--name {
            padding-left: size-rel(24px);
        }

        &--price {
            padding-left: size-rel(24px);
        }
    }

    &__td {
        padding: 0 size-rel(12px);
        display: table-cell;
        vertical-align: middle;
        border-bottom: 1px solid $gray;

        &--image {
            text-align: center;
            position: relative;
        }

        &--floor {
            text-align: center;
            position: relative;

            &:before {
                right: 0;
                top: calc(50% - 0.5rem);
                content: '';
                width: 1px;
                font-size: 0;
                line-height: 0;
                display: block;
                background: $gray;
                position: absolute;
                height: size-rel(16px);
            }
        }

        &--date {
            text-align: center;
            position: relative;

            &:before {
                right: 0;
                top: calc(50% - 0.5rem);
                content: '';
                width: 1px;
                font-size: 0;
                line-height: 0;
                display: block;
                background: $gray;
                position: absolute;
                height: size-rel(16px);
            }
        }

        &--name {
            padding-left: size-rel(24px);
        }

        &--price {
            padding-left: size-rel(24px);
        }
    }

    &__image {
        width: 100px;
        margin: 0 auto;

        &--thumb {
            display: block;
        }

        &--large {
            left: 0;
            opacity: 0;
            visibility: hidden;
            background: $white;
            top: calc(100%);
            z-index: -1;
            display: block;
            width: size-rel(285px);
            padding: size-rel(24px);
            position: absolute;
            box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.08);
            border-radius: 8px;
        }

        &:hover {
            .flats-list__image--large {
                opacity: 1;
                z-index: 50;
                visibility: visible;
            }
        }
    }

    &__title {
        font-weight: 500;
        font-size: size-rel(14px);
        line-height: size-rel(24px);
        margin-bottom: size-rel(8px);
    }

    &__tags {
        display: flex;
        align-items: center;
    }

    &__tag {
        display: block;
        font-weight: 500;
        border-radius: 4px;
        color: $primary;
        background: $gray-light;
        margin-right: size-rel(4px);
        padding: size-rel(2px) size-rel(4px);
        font-size: size-rel(10px);
        line-height: size-rel(16px);
    }

    &--name {
        font-weight: 500;
    }

    &__price {
        &--total {
            font-weight: 500;
            font-size: size-rel(14px);
            line-height: size-rel(24px);
        }

        &--meter {
            font-size: size-rel(10px);
            line-height: size-rel(20px);
        }
    }

    @include media-breakpoint-up(sm) {
        margin-bottom: size-rel(64px);
    }

    @include media-breakpoint-up(lg) {
        display: table;
    }

    @include media-breakpoint-up(xl) {
        margin-bottom: size-rel(80px);
    }

    @include media-breakpoint-up(xxl) {
        &__td {
            padding: 0 size-rel(24px);

            &--image {
                padding-right: size-rel(12px);
            }

            &--floor {
                padding-left: size-rel(12px);
            }

            &--price {
                padding-left: size-rel(48px);
            }

            &--name {
                padding-left: size-rel(48px);
            }
        }

        &__th {
            padding: 0 size-rel(24px);

            &--image {
                padding-right: size-rel(12px);
            }

            &--floor {
                padding-left: size-rel(12px);
            }

            &--price {
                padding-left: size-rel(48px);
            }

            &--name {
                padding-left: size-rel(48px);
            }
        }
    }
}

.viewed .item__title {
    @include r(767) {
        min-height: 32px;
    }
}
