.main {
    @include r(1023) {
        margin-bottom: 127px;
    }

    @include r(767) {
        margin-bottom: 69px;
    }

    width: calc(100% + 130px);
    margin-left: -65px;
    position: relative;
    margin-bottom: 79px;

    & ~ .section .section__header--nav {
        display: none;
    }

    &__slider {
        @include r(1500) {
            height: 494px;
        }

        @include r(1023) {
            height: 680px;
        }

        @include r(767) {
            height: 432px;
        }

        height: 654px;
    }

    .swiper-slide {
        @include r(1500) {
            padding: 79px 81px;
        }

        @include r(1023) {
            padding: 50px 65px;
            background-size: 77%;
        }

        @include r(767) {
            padding: 25px 65px;
            position: relative;
            background-size: 107%;
        }

        background-size: contain;
        background-repeat: no-repeat;
        background-position: right bottom;
        padding: 96px 65px;
        opacity: 0 !important;
        background-color: #f5f5f5;

        &.swiper-slide-active {
            opacity: 1 !important;
        }
    }

    .slider-button {
        @include r(1500) {
            height: 48px;
            width: 48px;
        }

        @include r(1023) {
            margin-right: 25px;
        }

        @include r(767) {
            display: none;
        }

        width: 64px;
        height: 64px;
        margin-right: 16px;
        border: 0;
        box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.08);
        border-radius: 8px;

        &:hover {
            box-shadow: none;
        }

        i {
            @include r(1500) {
                height: 19px;
            }

            height: 22px;
        }
    }

    &__title {
        @include r(1500) {
            font-size: 32px;
            line-height: 1.33;
            margin-bottom: 24px;
        }

        @include r(1023) {
            font-size: 24px;
            letter-spacing: 0;
        }

        font-weight: 600;
        font-size: 40px;
        margin-bottom: 57px;
        letter-spacing: -0.02em;

        &.h2 {
            @include r(1500) {
                font-size: 24px;
                font-weight: 600;
                letter-spacing: 0;
                margin-bottom: 8px;
            }

            font-size: 32px;
            margin-bottom: 15px;
        }
    }

    &__text {
        @include r(1500) {
            font-size: 14px;
            line-height: 1.71;
            margin-bottom: 41px;
        }

        @include r(1023) {
            font-size: 12px;
            line-height: 1.83;
            margin-bottom: 82px;

            br {
                display: none;
            }
        }

        font-weight: 500;
        font-size: 16px;
        line-height: 2;
        margin-bottom: 80px;
    }

    .item__district {
        @include r(1500) {
            margin-bottom: 24px;
        }

        margin-bottom: 40px;

        &--icon {
            @include r(1500) {
                width: 8px;
                height: 8px;
            }

            width: 10px;
            height: 10px;
        }

        &--name {
            @include r(1500) {
                font-size: 12px;
            }

            font-size: 14px;
            font-weight: 500;
        }

        &--distance {
            @include r(1500) {
                font-size: 12px;
                font-weight: 400;
            }

            font-size: 12px;
            font-weight: 500;
        }
    }

    .item__data {
        @include fen;
        margin-bottom: 68px;

        &--price {
            @include r(1500) {
                font-size: 16px;
            }

            font-size: 20px;
            font-weight: 500;
            margin-right: 18px;
        }

        &--apartments {
            @include r(1500) {
                font-size: 12px;
            }

            font-size: 14px;
            font-weight: 400;
        }
    }

    &__house {
        @include r(1500) {
            font-size: 12px;
        }

        font-size: 14px;
        font-weight: 500;
        margin-bottom: 4px;
    }

    &__tag {
        @include r(1500) {
            margin-top: -22px;
            margin-bottom: 0;
        }

        @include r(767) {
            margin-top: 0;
        }

        color: $red;
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 8px;
        margin-top: -47px;
    }

    &-btn {
        @include r(1023) {
            width: 100%;
            @include fcc;
            margin-bottom: 40px;
        }

        @include r(767) {
            font-size: 10px;
        }

        display: none;
        padding: 17px 0;
    }

    .btn {
        @include r(1500) {
            font-size: 10px;
            padding: 16px 48px;
        }

        @include r(1023) {
            font-size: 12px;
            padding: 24px 106px;
        }

        @include r(767) {
            @include centerXa;
            bottom: 16px;
            font-size: 10px;
            width: 70%;
        }

        padding: 24px 83px;
    }

    &__controls {
        @include r(1500) {
            bottom: 41px;
            left: 79px;
        }

        @include r(1023) {
            position: relative;
            left: 0;
            bottom: 0;
            @include fcsb;
            padding: 0 72px;
            margin-top: 40px;
        }

        @include r(767) {
            margin-top: 24px;
        }

        position: absolute;
        bottom: 80px;
        left: 66px;
        @include fcn;
        z-index: 2;
    }

    &__buttons {
        @include fcn;
    }

    &__num {
        @include fcn;
        margin-left: 56px;

        span {
            @include r(1500) {
                font-size: 14px;
            }

            @include r(1023) {
                font-size: 12px;
            }

            font-weight: 500;
            font-size: 16px;
            color: #818285;
            margin: 0 8px;
            transition: $trans;

            &.active {
                color: $primary;
            }
        }
    }

    &__line {
        width: 0;
        height: 2px;
        background: #cccccc;
        position: relative;
        transition: $trans;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 2px;
            width: 0;
            background: $red;
        }

        &.active {
            width: 80px;
            margin: 0 9px;

            &::before {
                width: 80px;
                transition: all 5s ease-in-out;
            }
        }
    }
}

.banner {
    @include r(1500) {
        padding: 64px 79px;
        height: 374px;
    }

    @include r(1023) {
        margin-top: 120px;
        height: 440px;
        background-size: 81%;
        padding: 41px 63px;
    }

    @include r(767) {
        margin-top: 80px;
        padding: 25px 63px;
        height: 432px;
    }

    height: 462px;
    padding: 65px;
    background-size: 61%;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: #f5f5f5;
    width: calc(100% + 130px);
    margin-left: -65px;

    .h1 {
        @include r(1500) {
            margin-bottom: 26px;
        }

        @include r(1023) {
            letter-spacing: 0;
            margin-bottom: 23px;
        }

        margin-bottom: 40px;
        letter-spacing: -0.02em;
    }

    &__text {
        @include r(1500) {
            font-size: 14px;
            line-height: 1.71;
            margin-bottom: 80px;
        }

        @include r(1023) {
            margin-bottom: 40px;

            br {
                display: none;
            }
        }

        @include r(767) {
            margin-bottom: 188px;
        }

        font-size: 16px;
        font-weight: 500;
        line-height: 2;
        margin-bottom: 102px;
    }

    .btn {
        @include r(1500) {
            font-size: 10px;
            padding: 16px 47px;
        }

        @include r(1023) {
            font-size: 12px;
            padding: 24px 106px;
        }

        padding: 24px 79px;
    }
}

.mortgage {
    @include r(1500) {
        height: 476px;
    }

    @include r(1023) {
        position: relative;
        height: 488px;
        background-image: url('../img/mortgage-768.png') !important;
        background-position: left center;
        margin-left: -16px;
        width: calc(100% + 32px);
        @include fss;
        padding: 39px 17px;
    }

    @include r(767) {
        height: initial;
        background-position: 11% 12%;
        padding: 25px 17px;
        background-size: auto;
        margin-bottom: 42px;
    }

    height: 574px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    background-color: #f5f5f5;
    padding: 65px;
    @include fce;

    .h2 {
        @include r(1500) {
            margin-bottom: 24px;
        }

        margin-bottom: 32px;
    }

    &__desc {
        @include r(1500) {
            margin-bottom: 80px;
        }

        @include r(767) {
            font-size: 12px;
            font-weight: 400;
            line-height: 1.83;
            margin-bottom: 280px;
        }

        font-size: 14px;
        font-weight: 500;
        line-height: 1.71;
        margin-bottom: 120px;
    }

    &__controls {
        @include r(1023) {
            position: absolute;
            right: 63px;
            top: 40px;
            flex-direction: column;
        }

        @include r(767) {
            position: static;
            @include fcc;
        }

        @include fnsb;

        a {
            @include r(1500) {
                width: 230px;
            }

            @include r(1023) {
                margin-right: 0;
                margin-bottom: 25px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            @include r(767) {
                margin-bottom: 15px;
            }

            width: 326px;
            padding: 24px;
            background: #ffffff;
            box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.08);
            border-radius: 8px;
            text-decoration: none;
            color: $primary;
            margin-right: 40px;
            transition: $trans;
            font-weight: 500;

            &:hover {
                background: $red;
                color: #fff;

                .mortgage__link {
                    color: #fff;

                    i {
                        fill: #fff;
                    }
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__title {
        @include r(1500) {
            font-size: 14px;
            margin-bottom: 8px;
        }

        @include r(1023) {
            margin-bottom: 11px;
        }

        font-size: 16px;
        font-weight: 600;
        margin-bottom: 16px;
    }

    &__text {
        @include r(1500) {
            font-size: 12px;
            line-height: 1.83;
            margin-bottom: 18px;
        }

        @include r(1023) {
            line-height: 1.71;
            font-size: 14px;
        }

        @include r(767) {
            font-size: 12px;
            line-height: 1.83;
        }

        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
        margin-bottom: 46px;
    }

    &__from {
        @include r(1500) {
            margin-bottom: 15px;
        }

        font-size: 12px;
        font-weight: 500;
        margin-bottom: 30px;
    }

    &__percent {
        @include r(1500) {
            font-size: 32px;
            margin-bottom: 32px;
        }

        @include r(1023) {
            margin-bottom: 63px;
        }

        @include r(767) {
            margin-bottom: 35px;
        }

        font-weight: 600;
        font-size: 48px;
        margin-bottom: 57px;
    }

    &__link {
        @include r(1500) {
            font-size: 12px;
        }

        @include fcn;
        color: $red;
        font-size: 14px;
        font-weight: 500;

        i {
            height: 13px;
            margin-left: 10px;
            fill: $red;
            @include fcc;
        }
    }
}

.video {
    .h2 {
        margin-bottom: 24px;
    }

    &__text {
        @include r(767) {
            font-size: 12px;
            line-height: 1.83;
        }

        font-size: 14px;
        font-weight: 500;
        line-height: 1.71;
        margin-bottom: 16px;
    }

    a {
        @include r(1500) {
            font-size: 12px;
        }

        @include fcn;
        display: inline-flex;
        color: $red;
        text-decoration: none;
        margin-bottom: 40px;
        font-weight: 500;

        i {
            height: 13px;
            margin-left: 10px;
            fill: $red;
            @include fcc;
        }

        &:hover span {
            text-decoration: underline;
        }
    }

    &__link {
        @include r(1500) {
            height: 585px;
        }

        @include r(1023) {
            height: 432px;
            margin-left: -16px;
            width: calc(100% + 32px);
        }

        @include r(767) {
            height: 180px;
        }

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        @include fcc;
        height: 801px;
        cursor: pointer;

        &:hover img {
            transform: scale(1.1);
        }

        img {
            @include r(767) {
                width: 64px;
                height: 64px;
            }

            width: 80px;
            transition: $trans;
        }
    }
}
