{% include "src/template/layout/_head.njk" %}

    <div class="root">

        {% block header %}
        {% include "src/template/parts/_header.njk" %}
        {% endblock %}

        <div class="root__wrap">

            {% block sidebar %}
            {% include "src/template/parts/_sidebar.njk" %}
            {% endblock %}

            <div class="root__page {% if is_filter %} root__page--is-filter{% endif %}">

                {% block main %}
                <section class="root__main">
                    <div class="container-fluid">
                        {% if not page_hide_breadcrumb %}
                        {% block breadcrumb %}
                        {% include "src/template/parts/_breadcrumb.njk" %}
                        {% endblock %}
                        {% endif %}

                        {% block h1 %}
                        <h1>{{ title }}</h1>
                        {% endblock %}

                        {% block content %}

                        {% endblock %}
                    </div>
                </section>
                {% endblock %}

                {% block footer %}
                {% include "src/template/parts/_footer.njk" %}
                {% endblock %}
            </div>

        </div>

    </div>

{% include "src/template/layout/_scripts.njk" %}