{% extends "src/template/layout/_template.njk" %}

{%- set page_hide_breadcrumb = false -%}
{% set title = "Выбор квартир" %}
{% set is_filter = true %}


{% block content %}

    {% include "src/template/parts/_filter.njk" %}

    <div class="mobile-bar">
        <div class="mobile-bar__item">
            <select class="pretty-select">
                <option value="Сначала дешевле">Сначала дешевле</option>
                <option value="Сначала дороже">Сначала дороже</option>
                <option value="С большей площадью">С большей площадью</option>
                <option value="С меньшей площадью">С меньшей площадью</option>
            </select>
        </div><!--/.mobile-bar__item -->
    </div><!--/.mobile-bar -->

    <div class="simple-bar">
        <div class="simple-bar__item">
            <div class="sorter">
                <div class="sorter__header">Сортировать по</div>
                <ul class="sorter__content">
                    <li>
                        <button class="sorter__item active">
                            <span class="sorter__item--text">Цене</span>
                            <span class="sorter__item--icon">
                                <span></span>
                            </span>
                        </button><!--/.sorter__item -->
                    </li>
                    <li>
                        <button class="sorter__item">
                            <span class="sorter__item--text">Площади</span>
                            <span class="sorter__item--icon">
                                <span></span>
                            </span>
                        </button><!--/.sorter__item -->
                    </li>
                    <li>
                        <button class="sorter__item">
                            <span class="sorter__item--text">Сроку сдачи</span>
                            <span class="sorter__item--icon">
                                <span></span>
                            </span>
                        </button><!--/.sorter__item -->
                    </li>
                    <li>
                        <button class="sorter__item">
                            <span class="sorter__item--text">Расстоянию до метро</span>
                            <span class="sorter__item--icon">
                                <span></span>
                            </span>
                        </button><!--/.sorter__item -->
                    </li>
                </ul>
            </div>
        </div>
        <div class="simple-bar__item">
            <div class="display-switch">
                <a href="javascript:void(0)" class="display-switch__item active" data-view="grid">
                    <svg class="ico-svg" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="img/sprites/sprite-mono.svg#tile" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                </a>
                <a href="javascript:void(0)" class="display-switch__item" data-view="list">
                    <svg class="ico-svg" viewBox="0 0 15 12" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="img/sprites/sprite-mono.svg#list" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <div class="items-grid active" data-view="grid">
        <a href="javascript:void(0)" class="flat-item">
            <div class="flat-item__completion">Сдача IV кв 2021</div>
            <div class="flat-item__object">Мосфильмовский квартал</div>
            <div class="flat-item__media">
                <div class="flat-item__media--image">
                    <img src="img/content/flat_image.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="flat-item__title">4-комнатная 244,47 м<sup>2</sup></div>
            <div class="flat-item__price">
                <div class="flat-item__price--total">142 120 250 ₽</div>
                <div class="flat-item__price--meter">400 640 ₽ за м<sup>2</sup></div>
            </div>
            <div class="flat-item__tags">
                <span class="flat-item__tag">Евро</span>
                <span class="flat-item__tag">С отделкой</span>
                <span class="flat-item__tag">Переуступка</span>
            </div>
            <div class="flat-item__info">
                <span class="flat-item__info--elem">Корпус 14</span>
                <span class="flat-item__info--elem">Этаж 24 из 48</span>
            </div>
        </a>
        <a href="javascript:void(0)" class="flat-item not-found">
            <div class="flat-item__completion">Сдача IV кв 2021</div>
            <div class="flat-item__object">Петр Великий и Екатерина Великая</div>
            <div class="flat-item__media">
                <div class="flat-item__media--image">
                    <img src="img/content/not-found.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="flat-item__title">1-комнатная 38,25 м<sup>2</sup></div>
            <div class="flat-item__price">
                <div class="flat-item__price--total">28 120 250 ₽</div>
                <div class="flat-item__price--meter">100 640₽ за м<sup>2</sup></div>
            </div>
            <div class="flat-item__tags">
            </div>
            <div class="flat-item__info">
                <span class="flat-item__info--elem">Корпус 14</span>
                <span class="flat-item__info--elem">Этаж 24 из 48</span>
            </div>
        </a>
        <a href="javascript:void(0)" class="flat-item">
            <div class="flat-item__completion">Сдача I кв 2022</div>
            <div class="flat-item__object">Хорошевский</div>
            <div class="flat-item__media">
                <div class="flat-item__media--image">
                    <img src="img/content/flat_image.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="flat-item__title">Студия 25,78 м²<sup>2</sup></div>
            <div class="flat-item__price">
                <div class="flat-item__price--total">68 120 250 ₽</div>
                <div class="flat-item__price--meter">250 640 ₽ за м<sup>2</sup></div>
            </div>
            <div class="flat-item__tags">
                <span class="flat-item__tag">Переуступка</span>
            </div>
            <div class="flat-item__info">
                <span class="flat-item__info--elem">Корпус 5</span>
                <span class="flat-item__info--elem">Этаж 24 из 48</span>
            </div>
        </a>
        <a href="javascript:void(0)" class="flat-item">
            <div class="flat-item__completion">Сдача I кв 2022</div>
            <div class="flat-item__object">Пехра</div>
            <div class="flat-item__media">
                <div class="flat-item__media--image">
                    <img src="img/content/flat_image.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="flat-item__title">3-комнатная 87,93 м²<sup>2</sup></div>
            <div class="flat-item__price">
                <div class="flat-item__price--total">68 120 250 ₽</div>
                <div class="flat-item__price--meter">250 640 ₽ за м<sup>2</sup></div>
            </div>
            <div class="flat-item__tags">
                <span class="flat-item__tag">Переуступка</span>
            </div>
            <div class="flat-item__info">
                <span class="flat-item__info--elem">Корпус 5</span>
                <span class="flat-item__info--elem">Этаж 24 из 48</span>
            </div>
        </a>

        <a href="javascript:void(0)" class="flat-item">
            <div class="flat-item__completion">Сдача IV кв 2021</div>
            <div class="flat-item__object">Королевские Мытищи</div>
            <div class="flat-item__media">
                <div class="flat-item__media--image">
                    <img src="img/content/flat_image.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="flat-item__title">2-комнатная 194,13 м<sup>2</sup></div>
            <div class="flat-item__price">
                <div class="flat-item__price--total">142 120 250 ₽</div>
                <div class="flat-item__price--meter">400 640 ₽ за м<sup>2</sup></div>
            </div>
            <div class="flat-item__tags">
                <span class="flat-item__tag">Евро</span>
                <span class="flat-item__tag">Переуступка</span>
            </div>
            <div class="flat-item__info">
                <span class="flat-item__info--elem">Корпус 14</span>
                <span class="flat-item__info--elem">Этаж 24 из 48</span>
            </div>
        </a>
        <a href="javascript:void(0)" class="flat-item">
            <div class="flat-item__completion">Сдача IV кв 2021</div>
            <div class="flat-item__object">Мосфильмовский квартал</div>
            <div class="flat-item__media">
                <div class="flat-item__media--image">
                    <img src="img/content/flat_image.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="flat-item__title">4-комнатная 244,47 м<sup>2</sup></div>
            <div class="flat-item__price">
                <div class="flat-item__price--total">142 120 250 ₽</div>
                <div class="flat-item__price--meter">400 640 ₽ за м<sup>2</sup></div>
            </div>
            <div class="flat-item__tags">
                <span class="flat-item__tag">Евро</span>
                <span class="flat-item__tag">С отделкой</span>
                <span class="flat-item__tag">Переуступка</span>
            </div>
            <div class="flat-item__info">
                <span class="flat-item__info--elem">Корпус 14</span>
                <span class="flat-item__info--elem">Этаж 24 из 48</span>
            </div>
        </a>
        <a href="javascript:void(0)" class="flat-item">
            <div class="flat-item__completion">Сдача IV кв 2021</div>
            <div class="flat-item__object">Петр Великий и Екатерина Великая</div>
            <div class="flat-item__media">
                <div class="flat-item__media--image">
                    <img src="img/content/flat_image.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="flat-item__title">1-комнатная 38,25 м<sup>2</sup></div>
            <div class="flat-item__price">
                <div class="flat-item__price--total">28 120 250 ₽</div>
                <div class="flat-item__price--meter">100 640₽ за м<sup>2</sup></div>
            </div>
            <div class="flat-item__tags">
            </div>
            <div class="flat-item__info">
                <span class="flat-item__info--elem">Корпус 14</span>
                <span class="flat-item__info--elem">Этаж 24 из 48</span>
            </div>
        </a>
        <a href="javascript:void(0)" class="flat-item">
            <div class="flat-item__completion">Сдача I кв 2022</div>
            <div class="flat-item__object">Хорошевский</div>
            <div class="flat-item__media">
                <div class="flat-item__media--image">
                    <img src="img/content/flat_image.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="flat-item__title">Студия 25,78 м²<sup>2</sup></div>
            <div class="flat-item__price">
                <div class="flat-item__price--total">68 120 250 ₽</div>
                <div class="flat-item__price--meter">250 640 ₽ за м<sup>2</sup></div>
            </div>
            <div class="flat-item__tags">
                <span class="flat-item__tag">Переуступка</span>
            </div>
            <div class="flat-item__info">
                <span class="flat-item__info--elem">Корпус 5</span>
                <span class="flat-item__info--elem">Этаж 24 из 48</span>
            </div>
        </a>

        <a href="javascript:void(0)" class="flat-item">
            <div class="flat-item__completion">Сдача IV кв 2021</div>
            <div class="flat-item__object">Мосфильмовский квартал</div>
            <div class="flat-item__media">
                <div class="flat-item__media--image">
                    <img src="img/content/flat_image.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="flat-item__title">4-комнатная 244,47 м<sup>2</sup></div>
            <div class="flat-item__price">
                <div class="flat-item__price--total">142 120 250 ₽</div>
                <div class="flat-item__price--meter">400 640 ₽ за м<sup>2</sup></div>
            </div>
            <div class="flat-item__tags">
                <span class="flat-item__tag">Евро</span>
                <span class="flat-item__tag">С отделкой</span>
                <span class="flat-item__tag">Переуступка</span>
            </div>
            <div class="flat-item__info">
                <span class="flat-item__info--elem">Корпус 14</span>
                <span class="flat-item__info--elem">Этаж 24 из 48</span>
            </div>
        </a>
        <a href="javascript:void(0)" class="flat-item">
            <div class="flat-item__completion">Сдача IV кв 2021</div>
            <div class="flat-item__object">Петр Великий и Екатерина Великая</div>
            <div class="flat-item__media">
                <div class="flat-item__media--image">
                    <img src="img/content/flat_image.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="flat-item__title">1-комнатная 38,25 м<sup>2</sup></div>
            <div class="flat-item__price">
                <div class="flat-item__price--total">28 120 250 ₽</div>
                <div class="flat-item__price--meter">100 640₽ за м<sup>2</sup></div>
            </div>
            <div class="flat-item__tags">
            </div>
            <div class="flat-item__info">
                <span class="flat-item__info--elem">Корпус 14</span>
                <span class="flat-item__info--elem">Этаж 24 из 48</span>
            </div>
        </a>
        <a href="javascript:void(0)" class="flat-item">
            <div class="flat-item__completion">Сдача I кв 2022</div>
            <div class="flat-item__object">Хорошевский</div>
            <div class="flat-item__media">
                <div class="flat-item__media--image">
                    <img src="img/content/flat_image.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="flat-item__title">Студия 25,78 м²<sup>2</sup></div>
            <div class="flat-item__price">
                <div class="flat-item__price--total">68 120 250 ₽</div>
                <div class="flat-item__price--meter">250 640 ₽ за м<sup>2</sup></div>
            </div>
            <div class="flat-item__tags">
                <span class="flat-item__tag">Переуступка</span>
            </div>
            <div class="flat-item__info">
                <span class="flat-item__info--elem">Корпус 5</span>
                <span class="flat-item__info--elem">Этаж 24 из 48</span>
            </div>
        </a>
        <a href="javascript:void(0)" class="flat-item">
            <div class="flat-item__completion">Сдача I кв 2022</div>
            <div class="flat-item__object">Пехра</div>
            <div class="flat-item__media">
                <div class="flat-item__media--image">
                    <img src="img/content/flat_image.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="flat-item__title">3-комнатная 87,93 м²<sup>2</sup></div>
            <div class="flat-item__price">
                <div class="flat-item__price--total">68 120 250 ₽</div>
                <div class="flat-item__price--meter">250 640 ₽ за м<sup>2</sup></div>
            </div>
            <div class="flat-item__tags">
                <span class="flat-item__tag">Переуступка</span>
            </div>
            <div class="flat-item__info">
                <span class="flat-item__info--elem">Корпус 5</span>
                <span class="flat-item__info--elem">Этаж 24 из 48</span>
            </div>
        </a>

        <a href="javascript:void(0)" class="flat-item">
            <div class="flat-item__completion">Сдача IV кв 2021</div>
            <div class="flat-item__object">Королевские Мытищи</div>
            <div class="flat-item__media">
                <div class="flat-item__media--image">
                    <img src="img/content/flat_image.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="flat-item__title">2-комнатная 194,13 м<sup>2</sup></div>
            <div class="flat-item__price">
                <div class="flat-item__price--total">142 120 250 ₽</div>
                <div class="flat-item__price--meter">400 640 ₽ за м<sup>2</sup></div>
            </div>
            <div class="flat-item__tags">
                <span class="flat-item__tag">Евро</span>
                <span class="flat-item__tag">Переуступка</span>
            </div>
            <div class="flat-item__info">
                <span class="flat-item__info--elem">Корпус 14</span>
                <span class="flat-item__info--elem">Этаж 24 из 48</span>
            </div>
        </a>
        <a href="javascript:void(0)" class="flat-item">
            <div class="flat-item__completion">Сдача IV кв 2021</div>
            <div class="flat-item__object">Мосфильмовский квартал</div>
            <div class="flat-item__media">
                <div class="flat-item__media--image">
                    <img src="img/content/flat_image.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="flat-item__title">4-комнатная 244,47 м<sup>2</sup></div>
            <div class="flat-item__price">
                <div class="flat-item__price--total">142 120 250 ₽</div>
                <div class="flat-item__price--meter">400 640 ₽ за м<sup>2</sup></div>
            </div>
            <div class="flat-item__tags">
                <span class="flat-item__tag">Евро</span>
                <span class="flat-item__tag">С отделкой</span>
                <span class="flat-item__tag">Переуступка</span>
            </div>
            <div class="flat-item__info">
                <span class="flat-item__info--elem">Корпус 14</span>
                <span class="flat-item__info--elem">Этаж 24 из 48</span>
            </div>
        </a>
        <a href="javascript:void(0)" class="flat-item">
            <div class="flat-item__completion">Сдача IV кв 2021</div>
            <div class="flat-item__object">Петр Великий и Екатерина Великая</div>
            <div class="flat-item__media">
                <div class="flat-item__media--image">
                    <img src="img/content/flat_image.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="flat-item__title">1-комнатная 38,25 м<sup>2</sup></div>
            <div class="flat-item__price">
                <div class="flat-item__price--total">28 120 250 ₽</div>
                <div class="flat-item__price--meter">100 640₽ за м<sup>2</sup></div>
            </div>
            <div class="flat-item__tags">
            </div>
            <div class="flat-item__info">
                <span class="flat-item__info--elem">Корпус 14</span>
                <span class="flat-item__info--elem">Этаж 24 из 48</span>
            </div>
        </a>
        <a href="javascript:void(0)" class="flat-item">
            <div class="flat-item__completion">Сдача I кв 2022</div>
            <div class="flat-item__object">Хорошевский</div>
            <div class="flat-item__media">
                <div class="flat-item__media--image">
                    <img src="img/content/flat_image.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="flat-item__title">Студия 25,78 м²<sup>2</sup></div>
            <div class="flat-item__price">
                <div class="flat-item__price--total">68 120 250 ₽</div>
                <div class="flat-item__price--meter">250 640 ₽ за м<sup>2</sup></div>
            </div>
            <div class="flat-item__tags">
                <span class="flat-item__tag">Переуступка</span>
            </div>
            <div class="flat-item__info">
                <span class="flat-item__info--elem">Корпус 5</span>
                <span class="flat-item__info--elem">Этаж 24 из 48</span>
            </div>
        </a>

        <a href="javascript:void(0)" class="flat-item">
            <div class="flat-item__completion">Сдача IV кв 2021</div>
            <div class="flat-item__object">Королевские Мытищи</div>
            <div class="flat-item__media">
                <div class="flat-item__media--image">
                    <img src="img/content/flat_image.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="flat-item__title">2-комнатная 194,13 м<sup>2</sup></div>
            <div class="flat-item__price">
                <div class="flat-item__price--total">142 120 250 ₽</div>
                <div class="flat-item__price--meter">400 640 ₽ за м<sup>2</sup></div>
            </div>
            <div class="flat-item__tags">
                <span class="flat-item__tag">Евро</span>
                <span class="flat-item__tag">Переуступка</span>
            </div>
            <div class="flat-item__info">
                <span class="flat-item__info--elem">Корпус 14</span>
                <span class="flat-item__info--elem">Этаж 24 из 48</span>
            </div>
        </a>
        <a href="javascript:void(0)" class="flat-item">
            <div class="flat-item__completion">Сдача IV кв 2021</div>
            <div class="flat-item__object">Мосфильмовский квартал</div>
            <div class="flat-item__media">
                <div class="flat-item__media--image">
                    <img src="img/content/flat_image.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="flat-item__title">4-комнатная 244,47 м<sup>2</sup></div>
            <div class="flat-item__price">
                <div class="flat-item__price--total">142 120 250 ₽</div>
                <div class="flat-item__price--meter">400 640 ₽ за м<sup>2</sup></div>
            </div>
            <div class="flat-item__tags">
                <span class="flat-item__tag">Евро</span>
                <span class="flat-item__tag">С отделкой</span>
                <span class="flat-item__tag">Переуступка</span>
            </div>
            <div class="flat-item__info">
                <span class="flat-item__info--elem">Корпус 14</span>
                <span class="flat-item__info--elem">Этаж 24 из 48</span>
            </div>
        </a>
        <a href="javascript:void(0)" class="flat-item">
            <div class="flat-item__completion">Сдача IV кв 2021</div>
            <div class="flat-item__object">Петр Великий и Екатерина Великая</div>
            <div class="flat-item__media">
                <div class="flat-item__media--image">
                    <img src="img/content/flat_image.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="flat-item__title">1-комнатная 38,25 м<sup>2</sup></div>
            <div class="flat-item__price">
                <div class="flat-item__price--total">28 120 250 ₽</div>
                <div class="flat-item__price--meter">100 640₽ за м<sup>2</sup></div>
            </div>
            <div class="flat-item__tags">
            </div>
            <div class="flat-item__info">
                <span class="flat-item__info--elem">Корпус 14</span>
                <span class="flat-item__info--elem">Этаж 24 из 48</span>
            </div>
        </a>
        <a href="javascript:void(0)" class="flat-item">
            <div class="flat-item__completion">Сдача I кв 2022</div>
            <div class="flat-item__object">Хорошевский</div>
            <div class="flat-item__media">
                <div class="flat-item__media--image">
                    <img src="img/content/flat_image.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="flat-item__title">Студия 25,78 м²<sup>2</sup></div>
            <div class="flat-item__price">
                <div class="flat-item__price--total">68 120 250 ₽</div>
                <div class="flat-item__price--meter">250 640 ₽ за м<sup>2</sup></div>
            </div>
            <div class="flat-item__tags">
                <span class="flat-item__tag">Переуступка</span>
            </div>
            <div class="flat-item__info">
                <span class="flat-item__info--elem">Корпус 5</span>
                <span class="flat-item__info--elem">Этаж 24 из 48</span>
            </div>
        </a>

    </div>
    
    <div class="items-list" data-view="list">
        <div class="table__header">
            <div class="table__col">План</div>
            <div class="table__col">Комнатность</div>
            <div class="table__col">Этаж</div>
            <div class="table__col">Объект</div>
            <div class="table__col">Корпус</div>
            <div class="table__col">Срок сдачи</div>
            <div class="table__col">Цена</div>
        </div>

        <div class="table__body">
            <a href="javascript:void(0)" class="flat-item">
                <div class="flat-item__media--image">
                    <img src="img/content/flats_list_image_lg.png" class="img-fluid" alt="">
                </div>

                <span class="flat-item__popup"><img src="img/content/flats_list_image_lg.png" class="img-fluid" alt=""></span>

                <div class="flat__rooms">
                    <div class="flat-item__title">4-комнатная 244,47 м<sup>2</sup></div>
                    <div class="flat-item__tags">
                        <span class="flat-item__tag">Евро</span>
                        <span class="flat-item__tag">С отделкой</span>
                    </div>
                </div>
                
                <div class="flat-item__info--elem">21 из 24</div>
                <div class="flat-item__object">Мосфильмовский квартал</div>
                <div class="flat-item__info--elem">14 корпус</div>
                <div class="flat-item__completion">II кв 2021</div>

                <div class="flat-item__price">
                    <div class="flat-item__price--total">8 521 420 ₽</div>
                    <div class="flat-item__price--meter">30 000 ₽ за м<sup>2</sup></div>
                </div>
            </a>
            <a href="javascript:void(0)" class="flat-item">
                <div class="flat-item__media--image">
                    <img src="img/content/flats_list_image_lg.png" class="img-fluid" alt="">
                </div>

                <span class="flat-item__popup"><img src="img/content/flats_list_image_lg.png" class="img-fluid" alt=""></span>

                <div class="flat__rooms">
                    <div class="flat-item__title">4-комнатная 244,47 м<sup>2</sup></div>
                    <div class="flat-item__tags">
                        <span class="flat-item__tag">Евро</span>
                        <span class="flat-item__tag">С отделкой</span>
                    </div>
                </div>
                
                <div class="flat-item__info--elem">21 из 24</div>
                <div class="flat-item__object">Мосфильмовский квартал</div>
                <div class="flat-item__info--elem">14 корпус</div>
                <div class="flat-item__completion">II кв 2021</div>

                <div class="flat-item__price">
                    <div class="flat-item__price--total">8 521 420 ₽</div>
                    <div class="flat-item__price--meter">30 000 ₽ за м<sup>2</sup></div>
                </div>
            </a>
            <a href="javascript:void(0)" class="flat-item">
                <div class="flat-item__media--image">
                    <img src="img/content/flat-vertical.png" class="img-fluid" alt="">
                </div>

                <span class="flat-item__popup"><img src="img/content/flat-vertical.png" class="img-fluid" alt=""></span>

                <div class="flat__rooms">
                    <div class="flat-item__title">4-комнатная 244,47 м<sup>2</sup></div>
                    <div class="flat-item__tags">
                        <span class="flat-item__tag">Евро</span>
                        <span class="flat-item__tag">С отделкой</span>
                    </div>
                </div>
                
                <div class="flat-item__info--elem">21 из 24</div>
                <div class="flat-item__object">Мосфильмовский квартал</div>
                <div class="flat-item__info--elem">14 корпус</div>
                <div class="flat-item__completion">II кв 2021</div>

                <div class="flat-item__price">
                    <div class="flat-item__price--total">8 521 420 ₽</div>
                    <div class="flat-item__price--meter">30 000 ₽ за м<sup>2</sup></div>
                </div>
            </a>
            <a href="javascript:void(0)" class="flat-item">
                <div class="flat-item__media--image">
                    <img src="img/content/flats_list_image_lg.png" class="img-fluid" alt="">
                </div>

                <span class="flat-item__popup"><img src="img/content/flats_list_image_lg.png" class="img-fluid" alt=""></span>

                <div class="flat__rooms">
                    <div class="flat-item__title">4-комнатная 244,47 м<sup>2</sup></div>
                    <div class="flat-item__tags">
                        <span class="flat-item__tag">Евро</span>
                        <span class="flat-item__tag">С отделкой</span>
                    </div>
                </div>
                
                <div class="flat-item__info--elem">21 из 24</div>
                <div class="flat-item__object">Мосфильмовский квартал</div>
                <div class="flat-item__info--elem">14 корпус</div>
                <div class="flat-item__completion">II кв 2021</div>

                <div class="flat-item__price">
                    <div class="flat-item__price--total">8 521 420 ₽</div>
                    <div class="flat-item__price--meter">30 000 ₽ за м<sup>2</sup></div>
                </div>
            </a>
            <a href="javascript:void(0)" class="flat-item">
                <div class="flat-item__media--image">
                    <img src="img/content/flats_list_image_lg.png" class="img-fluid" alt="">
                </div>

                <span class="flat-item__popup"><img src="img/content/flats_list_image_lg.png" class="img-fluid" alt=""></span>

                <div class="flat__rooms">
                    <div class="flat-item__title">4-комнатная 244,47 м<sup>2</sup></div>
                    <div class="flat-item__tags">
                        <span class="flat-item__tag">Евро</span>
                        <span class="flat-item__tag">С отделкой</span>
                    </div>
                </div>
                
                <div class="flat-item__info--elem">21 из 24</div>
                <div class="flat-item__object">Мосфильмовский квартал</div>
                <div class="flat-item__info--elem">14 корпус</div>
                <div class="flat-item__completion">II кв 2021</div>

                <div class="flat-item__price">
                    <div class="flat-item__price--total">8 521 420 ₽</div>
                    <div class="flat-item__price--meter">30 000 ₽ за м<sup>2</sup></div>
                </div>
            </a>
            <a href="javascript:void(0)" class="flat-item">
                <div class="flat-item__media--image">
                    <img src="img/content/flats_list_image_lg.png" class="img-fluid" alt="">
                </div>

                <span class="flat-item__popup"><img src="img/content/flats_list_image_lg.png" class="img-fluid" alt=""></span>

                <div class="flat__rooms">
                    <div class="flat-item__title">4-комнатная 244,47 м<sup>2</sup></div>
                    <div class="flat-item__tags">
                        <span class="flat-item__tag">Евро</span>
                        <span class="flat-item__tag">С отделкой</span>
                    </div>
                </div>
                
                <div class="flat-item__info--elem">21 из 24</div>
                <div class="flat-item__object">Мосфильмовский квартал</div>
                <div class="flat-item__info--elem">14 корпус</div>
                <div class="flat-item__completion">II кв 2021</div>

                <div class="flat-item__price">
                    <div class="flat-item__price--total">8 521 420 ₽</div>
                    <div class="flat-item__price--meter">30 000 ₽ за м<sup>2</sup></div>
                </div>
            </a>
            <a href="javascript:void(0)" class="flat-item">
                <div class="flat-item__media--image">
                    <img src="img/content/flats_list_image_lg.png" class="img-fluid" alt="">
                </div>

                <span class="flat-item__popup"><img src="img/content/flats_list_image_lg.png" class="img-fluid" alt=""></span>

                <div class="flat__rooms">
                    <div class="flat-item__title">4-комнатная 244,47 м<sup>2</sup></div>
                    <div class="flat-item__tags">
                        <span class="flat-item__tag">Евро</span>
                        <span class="flat-item__tag">С отделкой</span>
                    </div>
                </div>
                
                <div class="flat-item__info--elem">21 из 24</div>
                <div class="flat-item__object">Мосфильмовский квартал</div>
                <div class="flat-item__info--elem">14 корпус</div>
                <div class="flat-item__completion">II кв 2021</div>

                <div class="flat-item__price">
                    <div class="flat-item__price--total">8 521 420 ₽</div>
                    <div class="flat-item__price--meter">30 000 ₽ за м<sup>2</sup></div>
                </div>
            </a>
            <a href="javascript:void(0)" class="flat-item">
                <div class="flat-item__media--image">
                    <img src="img/content/flats_list_image_lg.png" class="img-fluid" alt="">
                </div>

                <span class="flat-item__popup"><img src="img/content/flats_list_image_lg.png" class="img-fluid" alt=""></span>

                <div class="flat__rooms">
                    <div class="flat-item__title">4-комнатная 244,47 м<sup>2</sup></div>
                    <div class="flat-item__tags">
                        <span class="flat-item__tag">Евро</span>
                        <span class="flat-item__tag">С отделкой</span>
                    </div>
                </div>
                
                <div class="flat-item__info--elem">21 из 24</div>
                <div class="flat-item__object">Мосфильмовский квартал</div>
                <div class="flat-item__info--elem">14 корпус</div>
                <div class="flat-item__completion">II кв 2021</div>

                <div class="flat-item__price">
                    <div class="flat-item__price--total">8 521 420 ₽</div>
                    <div class="flat-item__price--meter">30 000 ₽ за м<sup>2</sup></div>
                </div>
            </a>
            <a href="javascript:void(0)" class="flat-item">
                <div class="flat-item__media--image">
                    <img src="img/content/flats_list_image_lg.png" class="img-fluid" alt="">
                </div>

                <span class="flat-item__popup"><img src="img/content/flats_list_image_lg.png" class="img-fluid" alt=""></span>

                <div class="flat__rooms">
                    <div class="flat-item__title">4-комнатная 244,47 м<sup>2</sup></div>
                    <div class="flat-item__tags">
                        <span class="flat-item__tag">Евро</span>
                        <span class="flat-item__tag">С отделкой</span>
                    </div>
                </div>
                
                <div class="flat-item__info--elem">21 из 24</div>
                <div class="flat-item__object">Мосфильмовский квартал</div>
                <div class="flat-item__info--elem">14 корпус</div>
                <div class="flat-item__completion">II кв 2021</div>

                <div class="flat-item__price">
                    <div class="flat-item__price--total">8 521 420 ₽</div>
                    <div class="flat-item__price--meter">30 000 ₽ за м<sup>2</sup></div>
                </div>
            </a>
        </div>
    </div>

    {% include "src/template/parts/_page-nav.njk" %}

    <div class="section mb-0">
        <div class="section__header">
            <div class="section__header--title">Условия приобритения</div>
            <div class="section__header--nav">
                <div class="section__header--buttons">
                    <div class="section-nav">
                        <button type="button" class="slider-button slider-button--prev conditions-prev">
                            <i>
                                <svg class="ico-svg" viewBox="0 0 192 512" xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="img/sprites/sprite-mono.svg#angle-left" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg>
                            </i>
                        </button>
                        <button type="button" class="slider-button slider-button--next conditions-next">
                            <i>
                                <svg class="ico-svg" viewBox="0 0 192 512" xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="img/sprites/sprite-mono.svg#angle-right" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg>
                            </i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="section__content">
            <div class="conditions">
                <div class="swiper-container conditions__slider">
                    
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="javascript:void(0)" class="conditions__item">
                                <div class="conditions__wrap">
                                    <div class="conditions__num">01</div>
                                    <div class="conditions__title">Онлайн-бронирование</div>
                                    <div class="conditions__text">от 4,44% до 30 лет</div>
                                    <div class="conditions__footer">
                                        <div class="conditions__footer--text">Перейти</div>
                                        <div class="conditions__footer--arrow">
                                            <svg class="ico-svg" viewBox="0 0 25 12" xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="img/sprites/sprite-mono.svg#arrow-right" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="javascript:void(0)" class="conditions__item">
                                <div class="conditions__wrap">
                                    <div class="conditions__num">02</div>
                                    <div class="conditions__title">Рассрочка</div>
                                    <div class="conditions__text">Текст в две строки если нужно что нибудь подписать</div>
                                    <div class="conditions__footer">
                                        <div class="conditions__footer--text">Перейти</div>
                                        <div class="conditions__footer--arrow">
                                            <svg class="ico-svg" viewBox="0 0 25 12" xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="img/sprites/sprite-mono.svg#arrow-right" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="javascript:void(0)" class="conditions__item">
                                <div class="conditions__wrap">
                                    <div class="conditions__num">03</div>
                                    <div class="conditions__title">Трейд ин</div>
                                    <div class="conditions__text">Текст в две строки если нужно что нибудь подписать</div>
                                    <div class="conditions__footer">
                                        <div class="conditions__footer--text">Перейти</div>
                                        <div class="conditions__footer--arrow">
                                            <svg class="ico-svg" viewBox="0 0 25 12" xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="img/sprites/sprite-mono.svg#arrow-right" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="javascript:void(0)" class="conditions__item">
                                <div class="conditions__wrap">
                                    <div class="conditions__num">04</div>
                                    <div class="conditions__title">Рефинансирование</div>
                                    <div class="conditions__text">Текст в две строки если нужно что нибудь подписать</div>
                                    <div class="conditions__footer">
                                        <div class="conditions__footer--text">Перейти</div>
                                        <div class="conditions__footer--arrow">
                                            <svg class="ico-svg" viewBox="0 0 25 12" xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="img/sprites/sprite-mono.svg#arrow-right" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="javascript:void(0)" class="conditions__item">
                                <div class="conditions__wrap">
                                    <div class="conditions__num">05</div>
                                    <div class="conditions__title">Рассрочка</div>
                                    <div class="conditions__text">Текст в две строки если нужно что нибудь подписать</div>
                                    <div class="conditions__footer">
                                        <div class="conditions__footer--text">Перейти</div>
                                        <div class="conditions__footer--arrow">
                                            <svg class="ico-svg" viewBox="0 0 25 12" xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="img/sprites/sprite-mono.svg#arrow-right" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="javascript:void(0)" class="conditions__item">
                                <div class="conditions__wrap">
                                    <div class="conditions__num">06</div>
                                    <div class="conditions__title">Трейд ин</div>
                                    <div class="conditions__text">Текст в две строки если нужно что нибудь подписать</div>
                                    <div class="conditions__footer">
                                        <div class="conditions__footer--text">Перейти</div>
                                        <div class="conditions__footer--arrow">
                                            <svg class="ico-svg" viewBox="0 0 25 12" xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="img/sprites/sprite-mono.svg#arrow-right" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="javascript:void(0)" class="conditions__item">
                                <div class="conditions__wrap">
                                    <div class="conditions__num">07</div>
                                    <div class="conditions__title">Рефинансирование</div>
                                    <div class="conditions__text">Текст в две строки если нужно что нибудь подписать</div>
                                    <div class="conditions__footer">
                                        <div class="conditions__footer--text">Перейти</div>
                                        <div class="conditions__footer--arrow">
                                            <svg class="ico-svg" viewBox="0 0 25 12" xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="img/sprites/sprite-mono.svg#arrow-right" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "src/template/parts/_location.njk" %}

{% endblock %}
