{% extends "src/template/layout/_template.njk" %}

{%- set page_hide_breadcrumb = true -%}
{% set title = "Список страниц" %}

{% block content %}

    <ul>
        <li><a href="ui-kit.html">UI kit</a></li>
        <li><a href="listing-zhk.html">Листинг ЖК</a></li>
        <li><a href="listing-zhk-not-found.html">Листинг ЖК - не найдено</a></li>
        <li><a href="apartments.html">Выбор квартир</a></li>
        <li><a href="article.html">Статья</a></li>
        <li><a href="journal.html">Журнал</a></li>
        <li><a href="object.html">Детальная ЖК</a></li>
        <li><a href="object2.html">Детальная ЖК Тип 2</a></li>
        <li><a href="flat.html">Квартира</a></li>
        <li><a href="map.html">Поиск по карте</a></li>
        <li><a href="print1.html">Страница печати 1</a></li>
        <li><a href="print2.html">Страница печати 2</a></li>
        <li><a href="print3.html">Страница печати 3</a></li>
        <li><a href="main.html">Главная</a></li>
        <li><a href="vacancies.html">Вакансии</a></li>
        <li><a href="developers.html">Застройщикам</a></li>
        <li><a href="investors.html">Инвесторам</a></li>
        <li><a href="news.html">Новости и акции</a></li>
        <li><a href="news-item.html">Новость</a></li>
    </ul>

{% endblock %}
