{% extends "src/template/layout/_template.njk" %}

{%- set page_hide_breadcrumb = false -%}
{% set title = "Выбор ЖК" %}
{% set page_class = "page-item page-filter" %}
{% set is_filter = true %}


{% block content %}

    {% include "src/template/parts/_filter.njk" %}

    <div class="mobile-bar mobile-bar--disable">
        <div class="mobile-bar__item">
            <select class="pretty-select">
                <option value="Сначала дешевле">Сначала дешевле</option>
                <option value="Сначала дороже">Сначала дороже</option>
                <option value="С большей площадью">С большей площадью</option>
                <option value="С меньшей площадью">С меньшей площадью</option>
            </select>
        </div><!--/.mobile-bar__item -->
    </div><!--/.mobile-bar -->

    <div class="simple-bar simple-bar--disable">
        <div class="simple-bar__item">
            <div class="sorter">
                <div class="sorter__header">Сортировать по</div>
                <ul class="sorter__content">
                    <li>
                        <button class="sorter__item active">
                            <span class="sorter__item--text">Цене</span>
                            <span class="sorter__item--icon">
                                <span></span>
                            </span>
                        </button><!--/.sorter__item -->
                    </li>
                    <li>
                        <button class="sorter__item">
                            <span class="sorter__item--text">Площади</span>
                            <span class="sorter__item--icon">
                                <span></span>
                            </span>
                        </button><!--/.sorter__item -->
                    </li>
                    <li>
                        <button class="sorter__item">
                            <span class="sorter__item--text">Сроку сдачи</span>
                            <span class="sorter__item--icon">
                                <span></span>
                            </span>
                        </button><!--/.sorter__item -->
                    </li>
                    <li>
                        <button class="sorter__item">
                            <span class="sorter__item--text">Расстоянию до метро</span>
                            <span class="sorter__item--icon">
                                <span></span>
                            </span>
                        </button><!--/.sorter__item -->
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="search-fail">
        <div class="search-fail__title">По заданным параметрам не найдено квартир</div>
        <div class="search-fail__text">Популярные новостройки в вашем районе</div>
    </div>

    {% include "src/template/parts/_apartments.njk" %}
    {% include "src/template/parts/_page-nav.njk" %}

    <div class="section">
        <div class="section__header">
            <div class="section__header--title">Условия приобритения</div>
            <div class="section__header--nav">
                <div class="section__header--buttons">
                    <div class="section-nav">
                        <button type="button" class="slider-button slider-button--prev conditions-prev">
                            <i>
                                <svg class="ico-svg" viewBox="0 0 192 512" xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="img/sprites/sprite-mono.svg#angle-left" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg>
                            </i>
                        </button>
                        <button type="button" class="slider-button slider-button--next conditions-next">
                            <i>
                                <svg class="ico-svg" viewBox="0 0 192 512" xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="img/sprites/sprite-mono.svg#angle-right" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg>
                            </i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="section__content">
            <div class="conditions">
                <div class="swiper-container conditions__slider">
                    
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="javascript:void(0)" class="conditions__item">
                                <div class="conditions__wrap">
                                    <div class="conditions__num">01</div>
                                    <div class="conditions__title">Онлайн-бронирование</div>
                                    <div class="conditions__text">от 4,44% до 30 лет</div>
                                    <div class="conditions__footer">
                                        <div class="conditions__footer--text">Перейти</div>
                                        <div class="conditions__footer--arrow">
                                            <svg class="ico-svg" viewBox="0 0 25 12" xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="img/sprites/sprite-mono.svg#arrow-right" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="javascript:void(0)" class="conditions__item">
                                <div class="conditions__wrap">
                                    <div class="conditions__num">02</div>
                                    <div class="conditions__title">Рассрочка</div>
                                    <div class="conditions__text">Текст в две строки если нужно что нибудь подписать</div>
                                    <div class="conditions__footer">
                                        <div class="conditions__footer--text">Перейти</div>
                                        <div class="conditions__footer--arrow">
                                            <svg class="ico-svg" viewBox="0 0 25 12" xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="img/sprites/sprite-mono.svg#arrow-right" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="javascript:void(0)" class="conditions__item">
                                <div class="conditions__wrap">
                                    <div class="conditions__num">03</div>
                                    <div class="conditions__title">Трейд ин</div>
                                    <div class="conditions__text">Текст в две строки если нужно что нибудь подписать</div>
                                    <div class="conditions__footer">
                                        <div class="conditions__footer--text">Перейти</div>
                                        <div class="conditions__footer--arrow">
                                            <svg class="ico-svg" viewBox="0 0 25 12" xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="img/sprites/sprite-mono.svg#arrow-right" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="javascript:void(0)" class="conditions__item">
                                <div class="conditions__wrap">
                                    <div class="conditions__num">04</div>
                                    <div class="conditions__title">Рефинансирование</div>
                                    <div class="conditions__text">Текст в две строки если нужно что нибудь подписать</div>
                                    <div class="conditions__footer">
                                        <div class="conditions__footer--text">Перейти</div>
                                        <div class="conditions__footer--arrow">
                                            <svg class="ico-svg" viewBox="0 0 25 12" xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="img/sprites/sprite-mono.svg#arrow-right" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="javascript:void(0)" class="conditions__item">
                                <div class="conditions__wrap">
                                    <div class="conditions__num">05</div>
                                    <div class="conditions__title">Рассрочка</div>
                                    <div class="conditions__text">Текст в две строки если нужно что нибудь подписать</div>
                                    <div class="conditions__footer">
                                        <div class="conditions__footer--text">Перейти</div>
                                        <div class="conditions__footer--arrow">
                                            <svg class="ico-svg" viewBox="0 0 25 12" xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="img/sprites/sprite-mono.svg#arrow-right" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="javascript:void(0)" class="conditions__item">
                                <div class="conditions__wrap">
                                    <div class="conditions__num">06</div>
                                    <div class="conditions__title">Трейд ин</div>
                                    <div class="conditions__text">Текст в две строки если нужно что нибудь подписать</div>
                                    <div class="conditions__footer">
                                        <div class="conditions__footer--text">Перейти</div>
                                        <div class="conditions__footer--arrow">
                                            <svg class="ico-svg" viewBox="0 0 25 12" xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="img/sprites/sprite-mono.svg#arrow-right" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="javascript:void(0)" class="conditions__item">
                                <div class="conditions__wrap">
                                    <div class="conditions__num">07</div>
                                    <div class="conditions__title">Рефинансирование</div>
                                    <div class="conditions__text">Текст в две строки если нужно что нибудь подписать</div>
                                    <div class="conditions__footer">
                                        <div class="conditions__footer--text">Перейти</div>
                                        <div class="conditions__footer--arrow">
                                            <svg class="ico-svg" viewBox="0 0 25 12" xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="img/sprites/sprite-mono.svg#arrow-right" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="section__header">
            <div class="section__header--title">Статьи</div>
            <div class="section__header--nav">
                <a href="javascript:void(0)" class="section__header--link">Все статьи</a>
                <div class="section__header--buttons">
                    <div class="section-nav">
                        <button type="button" class="slider-button slider-button--prev articles-prev">
                            <i>
                                <svg class="ico-svg" viewBox="0 0 192 512" xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="img/sprites/sprite-mono.svg#angle-left" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg>
                            </i>
                        </button>
                        <button type="button" class="slider-button slider-button--next articles-next">
                            <i>
                                <svg class="ico-svg" viewBox="0 0 192 512" xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="img/sprites/sprite-mono.svg#angle-right" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg>
                            </i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="section__content">

            <div class="articles-xs">
                <div class="articles-xs__grid">
                    <div class="article-item">
                        <a href="javascript:void(0)" class="article-item__media">
                            <img src="img/content/articles_image_sm__01.jpg" class="img-fluid" alt="">
                        </a>
                        <div class="article-item__content">
                            <a href="javascript:void(0)" class="article-item__tag">Просто о сложном</a>
                            <a href="javascript:void(0)" class="article-item__title">Зачем использовать переуступку и как это работает заголовок</a>
                        </div>
                        <div class="article-item__info">
                            <div class="article-item__date">24 сентября 2024</div>
                            <div class="article-item__time">
                                <i class="article-item__time--icon">
                                    <svg class="ico-svg" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/sprites/sprite-mono.svg#time" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                    </svg>
                                </i>
                                <span class="article-item__time--text">10 минут</span>
                            </div>
                        </div>
                    </div>
                    <div class="article-item">
                        <a href="javascript:void(0)" class="article-item__media">
                            <img src="img/content/articles_image_sm__02.jpg" class="img-fluid" alt="">
                        </a>
                        <div class="article-item__content">
                            <a href="javascript:void(0)" class="article-item__tag">Просто о сложном</a>
                            <a href="javascript:void(0)" class="article-item__title">Зачем использовать переуступку и как это работает заголовок</a>
                        </div>
                        <div class="article-item__info">
                            <div class="article-item__date">24 сентября 2024</div>
                            <div class="article-item__time">
                                <i class="article-item__time--icon">
                                    <svg class="ico-svg" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/sprites/sprite-mono.svg#time" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                    </svg>
                                </i>
                                <span class="article-item__time--text">10 минут</span>
                            </div>
                        </div>
                    </div>
                    <div class="article-item">
                        <a href="javascript:void(0)" class="article-item__media">
                            <img src="img/content/articles_image_sm__03.jpg" class="img-fluid" alt="">
                        </a>
                        <div class="article-item__content">
                            <a href="javascript:void(0)" class="article-item__tag">Просто о сложном</a>
                            <a href="javascript:void(0)" class="article-item__title">Зачем использовать переуступку и как это работает заголовок</a>
                        </div>
                        <div class="article-item__info">
                            <div class="article-item__date">24 сентября 2024</div>
                            <div class="article-item__time">
                                <i class="article-item__time--icon">
                                    <svg class="ico-svg" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/sprites/sprite-mono.svg#time" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                    </svg>
                                </i>
                                <span class="article-item__time--text">10 минут</span>
                            </div>
                        </div>
                    </div>
                    <div class="article-item">
                        <a href="javascript:void(0)" class="article-item__media">
                            <img src="img/content/articles_image_sm__04.jpg" class="img-fluid" alt="">
                        </a>
                        <div class="article-item__content">
                            <a href="javascript:void(0)" class="article-item__tag">Просто о сложном</a>
                            <a href="" class="article-item__title">Зачем использовать переуступку и как это работает заголовок</a>
                        </div>
                        <div class="article-item__info">
                            <div class="article-item__date">24 сентября 2024</div>
                            <div class="article-item__time">
                                <i class="article-item__time--icon">
                                    <svg class="ico-svg" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/sprites/sprite-mono.svg#time" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                    </svg>
                                </i>
                                <span class="article-item__time--text">10 минут</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="articles-xs__button">
                    <a href="javascript:void(0)" class="btn">Перейти в журнал</a>
                </div>
            </div>

            <div class="articles-sm">
                <div class="swiper-container articles-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="article-item">
                                <a href="javascript:void(0)" class="article-item__media">
                                    <img src="img/content/articles_image__01.jpg" class="img-fluid" alt="">
                                </a>
                                <div class="article-item__content">
                                    <a href="javascript:void(0)" class="article-item__tag">Просто о сложном</a>
                                    <a href="javascript:void(0)" class="article-item__title">Bo вpeмя интepвью зaчитaл pэп: 7 пpичин, из-зa кoтopыx oткaжyт нa coбeceдoвaнии в aгeнтcтвe нeдвижимocти</a>
                                </div>
                                <div class="article-item__info">
                                    <div class="article-item__date">24 сентября 2024</div>
                                    <div class="article-item__time">
                                        <i class="article-item__time--icon">
                                            <svg class="ico-svg" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="img/sprites/sprite-mono.svg#time" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                            </svg>
                                        </i>
                                        <span class="article-item__time--text">10 минут</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="article-item">
                                <a href="javascript:void(0)" class="article-item__media">
                                    <img src="img/content/articles_image__02.jpg" class="img-fluid" alt="">
                                </a>
                                <div class="article-item__content">
                                    <a href="javascript:void(0)" class="article-item__tag">Просто о сложном</a>
                                    <a href="javascript:void(0)" class="article-item__title">Как купить квартиру подешевле</a>
                                </div>
                                <div class="article-item__info">
                                    <div class="article-item__date">24 сентября 2024</div>
                                    <div class="article-item__time">
                                        <i class="article-item__time--icon">
                                            <svg class="ico-svg" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="img/sprites/sprite-mono.svg#time" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                            </svg>
                                        </i>
                                        <span class="article-item__time--text">10 минут</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="article-item">
                                <a href="javascript:void(0)" class="article-item__media">
                                    <img src="img/content/articles_image__03.jpg" class="img-fluid" alt="">
                                </a>
                                <div class="article-item__content">
                                    <a href="javascript:void(0)" class="article-item__tag">Просто о сложном</a>
                                    <a href="javascript:void(0)" class="article-item__title">Зачем использовать переуступку и как это работает заголовок</a>
                                </div>
                                <div class="article-item__info">
                                    <div class="article-item__date">24 сентября 2024</div>
                                    <div class="article-item__time">
                                        <i class="article-item__time--icon">
                                            <svg class="ico-svg" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="img/sprites/sprite-mono.svg#time" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                            </svg>
                                        </i>
                                        <span class="article-item__time--text">10 минут</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="article-item">
                                <a href="javascript:void(0)" class="article-item__media">
                                    <img src="img/content/articles_image__02.jpg" class="img-fluid" alt="">
                                </a>
                                <div class="article-item__content">
                                    <a href="javascript:void(0)" class="article-item__tag">Просто о сложном</a>
                                    <a href="javascript:void(0)" class="article-item__title">Зачем использовать переуступку и как это работает заголовок</a>
                                </div>
                                <div class="article-item__info">
                                    <div class="article-item__date">24 сентября 2024</div>
                                    <div class="article-item__time">
                                        <i class="article-item__time--icon">
                                            <svg class="ico-svg" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="img/sprites/sprite-mono.svg#time" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                            </svg>
                                        </i>
                                        <span class="article-item__time--text">10 минут</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.articles-slider -->
            </div>

        </div>
    </div>

    <div class="section mb-0">
        <div class="section__header">
            <div class="section__header--title">Ранее вы смотрели</div>
            <div class="section__header--nav">
                <div class="section__header--buttons">
                    <div class="section-nav">
                        <button type="button" class="slider-button slider-button--prev viewed-prev">
                            <i>
                                <svg class="ico-svg" viewBox="0 0 192 512" xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="img/sprites/sprite-mono.svg#angle-left" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg>
                            </i>
                        </button>
                        <button type="button" class="slider-button slider-button--next viewed-next">
                            <i>
                                <svg class="ico-svg" viewBox="0 0 192 512" xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="img/sprites/sprite-mono.svg#angle-right" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg>
                            </i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="section__content">
            <div class="viewed">
                <div class="swiper-container viewed__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="item">
                                <div class="item__header">
                                    <a href="javascript:void(0)" class="item__media">
                                        <div class="item__media--image">
                                            <img src="img/content/item_image__01.jpg" class="img-fluid" alt="">
                                        </div>
                                        <div class="item__media--map">
                                            <img src="img/content/item_map_01.jpg" class="img-fluid" alt="">
                                            <div class="item__marker">
                                                <div class="item__marker--elem">
                                                    <div class="item__marker--icon">
                                                        <svg class="ico-svg" viewBox="0 0 10 15" xmlns="http://www.w3.org/2000/svg">
                                                            <use xlink:href="img/sprites/sprite-mono.svg#distanceicon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                        </svg>
                                                    </div>
                                                    <div class="item__marker--text">Раменки 7 минут</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="item__tags">
                                        <div class="items__tags-list">
                                            <div class="item__tag item__tag--orange">Ипотека от 6,3%</div>
                                            <div class="item__tag item__tag--blue">Старт продаж</div>
                                            <div class="item__tag item__tag--blue">Кладовые</div>
                                        </div>
                                        <button class="button item__tags--toggle">
                                            <svg width="8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                                <path d="M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z"/>
                                            </svg>
                                        </button>
                                    </div>
                                    <button class="item__toggle" type="button" data-show="карта" data-hide="скрыть"></button>
                                </div>
                                <div class="item__content">
                                    <div class="item__content--base">
                                        <div class="item__info">
                                            <div class="item__info--completion">Сдача IV кв 2022</div>
                                            <div class="item__info--developer">ЛСР недвижимость</div>
                                        </div>
                                        <div class="item__title">Мосфильмовский</div>
                                        <div class="item__district">
                                            <div class="item__district--icon" style="background-color: #FFD702;"></div>
                                            <div class="item__district--name">Сокол</div>
                                            <div class="item__district--distance">
                                                <i>
                                                    <svg class="ico-svg" viewBox="0 0 10 15" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite-mono.svg#distanceicon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </i>
                                                <span>12 минут</span>
                                            </div>
                                        </div>
                                        <div class="item__data">
                                            <div class="item__data--price">от 28,61 млн ₽</div>
                                            <div class="item__data--apartments">43 квартиры</div>
                                        </div>
                                    </div>
                                    <div class="item__content--hover">
                                        <div class="item__info">
                                            <div class="item__info--completion">Сдача IV кв 2022</div>
                                            <a href="javascript:void(0)" class="item__info--apartments">43 квартиры</a>
                                        </div>
                                        <div class="item__price">
                                            <div class="item__price--title">Минимальная стоимость, млн ₽</div>
                                            <div class="item__price--table">
                                                <div class="item__table">
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">Студия</div>
                                                        <div class="item__table--value">4,51</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">1-комн</div>
                                                        <div class="item__table--value">8,32</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">2-комн</div>
                                                        <div class="item__table--value">12,44</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">3-комн</div>
                                                        <div class="item__table--value">14,80</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">4-комн</div>
                                                        <div class="item__table--value">20,83</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">5-комн</div>
                                                        <div class="item__table--value">127,47</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item">
                                <div class="item__header">
                                    <a href="javascript:void(0)" class="item__media">
                                        <div class="item__media--image">
                                            <img src="img/content/item_image__05.jpg" class="img-fluid" alt="">
                                        </div>
                                        <div class="item__media--map">
                                            <img src="img/content/item_map_01.jpg" class="img-fluid" alt="">
                                            <div class="item__marker">
                                                <div class="item__marker--elem">
                                                    <div class="item__marker--icon">
                                                        <svg class="ico-svg" viewBox="0 0 10 15" xmlns="http://www.w3.org/2000/svg">
                                                            <use xlink:href="img/sprites/sprite-mono.svg#distanceicon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                        </svg>
                                                    </div>
                                                    <div class="item__marker--text">Раменки 7 минут</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="item__tags">
                                        <div class="items__tags-list">
                                            <div class="item__tag item__tag--orange">Ипотека от 6,3%</div>
                                            <div class="item__tag item__tag--blue">Старт продаж</div>
                                            <div class="item__tag item__tag--blue">Кладовые</div>
                                        </div>
                                        <button class="button item__tags--toggle">
                                            <svg width="8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                                <path d="M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z"/>
                                            </svg>
                                        </button>
                                    </div>
                                    <button class="item__toggle" type="button" data-show="карта" data-hide="скрыть"></button>
                                </div>
                                <div class="item__content">
                                    <div class="item__content--base">
                                        <div class="item__info">
                                            <div class="item__info--completion">Сдача III кв 2024</div>
                                            <div class="item__info--developer">ПИК</div>
                                        </div>
                                        <div class="item__title">Зеленый квартал на Пулковских высотах</div>
                                        <div class="item__district">
                                            <div class="item__district--icon" style="background-color: #a0a0a0;"></div>
                                            <div class="item__district--name">
                                                <span>ул Академика Янгеля</span>
                                            </div>
                                            <div class="item__district--distance">
                                                <i>
                                                    <svg class="ico-svg" viewBox="0 0 10 15" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite-mono.svg#distanceicon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </i>
                                                <span>12 минут</span>
                                            </div>
                                        </div>
                                        <div class="item__data">
                                            <div class="item__data--price">от 12,52 млн ₽</div>
                                            <div class="item__data--apartments">29 квартир</div>
                                        </div>
                                    </div>
                                    <div class="item__content--hover">
                                        <div class="item__info">
                                            <div class="item__info--completion">Сдача III кв 2024</div>
                                            <a href="javascript:void(0)" class="item__info--apartments">29 квартир</a>
                                        </div>
                                        <div class="item__price">
                                            <div class="item__price--title">Минимальная стоимость, млн ₽</div>
                                            <div class="item__price--table">
                                                <div class="item__table">
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">Студия</div>
                                                        <div class="item__table--value">4,51</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">1-комн</div>
                                                        <div class="item__table--value">8,32</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">2-комн</div>
                                                        <div class="item__table--value">12,44</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">3-комн</div>
                                                        <div class="item__table--value">14,80</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">4-комн</div>
                                                        <div class="item__table--value">20,83</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">5-комн</div>
                                                        <div class="item__table--value">127,47</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item item--accent">
                                <div class="item__header">
                                    <a href="javascript:void(0)" class="item__media">
                                        <div class="item__media--image">
                                            <img src="img/content/item_image__03.jpg" class="img-fluid" alt="">
                                        </div>
                                        <div class="item__media--map">
                                            <img src="img/content/item_map_01.jpg" class="img-fluid" alt="">
                                            <div class="item__marker">
                                                <div class="item__marker--elem">
                                                    <div class="item__marker--icon">
                                                        <svg class="ico-svg" viewBox="0 0 10 15" xmlns="http://www.w3.org/2000/svg">
                                                            <use xlink:href="img/sprites/sprite-mono.svg#distanceicon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                        </svg>
                                                    </div>
                                                    <div class="item__marker--text">Тропарево 7 минут</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="item__tags">
                                        <div class="items__tags-list">
                                            <div class="item__tag item__tag--orange">Ипотека от 6,3%</div>
                                            <div class="item__tag item__tag--blue">Старт продаж</div>
                                            <div class="item__tag item__tag--blue">Кладовые</div>
                                        </div>
                                        <button class="button item__tags--toggle">
                                            <svg width="8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                                <path d="M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z"/>
                                            </svg>
                                        </button>
                                    </div>
                                    <button class="item__toggle" type="button" data-show="карта" data-hide="скрыть"></button>
                                </div>
                                <div class="item__content">
                                    <div class="item__content--base">
                                        <div class="item__info">
                                            <div class="item__info--completion">Сдача IV кв 2022</div>
                                            <div class="item__info--developer">ЛСР недвижимость</div>
                                        </div>
                                        <div class="item__title">Солнечный Луч</div>
                                        <div class="item__district">
                                            <div class="item__district--icon" style="background-color: #FFD702;"></div>
                                            <div class="item__district--name">Сокол</div>
                                            <div class="item__district--distance">
                                                <i>
                                                    <svg class="ico-svg" viewBox="0 0 10 15" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite-mono.svg#distanceicon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </i>
                                                <span>12 минут</span>
                                            </div>
                                        </div>
                                        <div class="item__data">
                                            <div class="item__data--price">от 28,61 млн ₽</div>
                                            <div class="item__data--apartments">43 квартиры</div>
                                        </div>
                                    </div>
                                    <div class="item__content--hover">
                                        <div class="item__info">
                                            <div class="item__info--completion">Сдача IV кв 2022</div>
                                            <a href="javascript:void(0)" class="item__info--apartments">43 квартиры</a>
                                        </div>
                                        <div class="item__price">
                                            <div class="item__price--title">Минимальная стоимость, млн ₽</div>
                                            <div class="item__price--table">
                                                <div class="item__table">
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">Студия</div>
                                                        <div class="item__table--value">4,51</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">1-комн</div>
                                                        <div class="item__table--value">8,32</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">2-комн</div>
                                                        <div class="item__table--value">12,44</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">3-комн</div>
                                                        <div class="item__table--value">14,80</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">4-комн</div>
                                                        <div class="item__table--value">20,83</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">5-комн</div>
                                                        <div class="item__table--value">127,47</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item">
                                <div class="item__header">
                                    <a href="javascript:void(0)" class="item__media">
                                        <div class="item__media--image">
                                            <img src="img/content/item_image__04.jpg" class="img-fluid" alt="">
                                        </div>
                                        <div class="item__media--map">
                                            <img src="img/content/item_map_01.jpg" class="img-fluid" alt="">
                                            <div class="item__marker">
                                                <div class="item__marker--elem">
                                                    <div class="item__marker--icon">
                                                        <svg class="ico-svg" viewBox="0 0 10 15" xmlns="http://www.w3.org/2000/svg">
                                                            <use xlink:href="img/sprites/sprite-mono.svg#distanceicon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                        </svg>
                                                    </div>
                                                    <div class="item__marker--text">Раменки 7 минут</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="item__tags">
                                        <div class="items__tags-list">
                                            <div class="item__tag item__tag--orange">Ипотека от 6,3%</div>
                                            <div class="item__tag item__tag--blue">Старт продаж</div>
                                            <div class="item__tag item__tag--blue">Кладовые</div>
                                        </div>
                                        <button class="button item__tags--toggle">
                                            <svg width="8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                                <path d="M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z"/>
                                            </svg>
                                        </button>
                                    </div>
                                    <button class="item__toggle" type="button" data-show="карта" data-hide="скрыть"></button>
                                </div>
                                <div class="item__content">
                                    <div class="item__content--base">
                                        <div class="item__info">
                                            <div class="item__info--completion">Сдача III кв 2024</div>
                                            <div class="item__info--developer">ПИК</div>
                                        </div>
                                        <div class="item__title">Петр Великий и Екатерина Великая</div>
                                        <div class="item__district">
                                            <div class="item__district--icon" style="background-color: #a0a0a0;"></div>
                                            <div class="item__district--name">
                                                <span>ул Академика Янгеля</span>
                                            </div>
                                            <div class="item__district--distance">
                                                <i>
                                                    <svg class="ico-svg" viewBox="0 0 10 15" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite-mono.svg#distanceicon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </i>
                                                <span>12 минут</span>
                                            </div>
                                        </div>
                                        <div class="item__data">
                                            <div class="item__data--price">от 12,52 млн ₽</div>
                                            <div class="item__data--apartments">29 квартир</div>
                                        </div>
                                    </div>
                                    <div class="item__content--hover">
                                        <div class="item__info">
                                            <div class="item__info--completion">Сдача III кв 2024</div>
                                            <a href="javascript:void(0)" class="item__info--apartments">29 квартир</a>
                                        </div>
                                        <div class="item__price">
                                            <div class="item__price--title">Минимальная стоимость, млн ₽</div>
                                            <div class="item__price--table">
                                                <div class="item__table">
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">Студия</div>
                                                        <div class="item__table--value">4,51</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">1-комн</div>
                                                        <div class="item__table--value">8,32</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">2-комн</div>
                                                        <div class="item__table--value">12,44</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">3-комн</div>
                                                        <div class="item__table--value">14,80</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">4-комн</div>
                                                        <div class="item__table--value">20,83</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">5-комн</div>
                                                        <div class="item__table--value">127,47</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item">
                                <div class="item__header">
                                    <a href="javascript:void(0)" class="item__media">
                                        <div class="item__media--image">
                                            <img src="img/content/item_image__01.jpg" class="img-fluid" alt="">
                                        </div>
                                        <div class="item__media--map">
                                            <img src="img/content/item_map_01.jpg" class="img-fluid" alt="">
                                            <div class="item__marker">
                                                <div class="item__marker--elem">
                                                    <div class="item__marker--icon">
                                                        <svg class="ico-svg" viewBox="0 0 10 15" xmlns="http://www.w3.org/2000/svg">
                                                            <use xlink:href="img/sprites/sprite-mono.svg#distanceicon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                        </svg>
                                                    </div>
                                                    <div class="item__marker--text">Раменки 7 минут</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="item__tags">
                                        <div class="items__tags-list">
                                            <div class="item__tag item__tag--orange">Ипотека от 6,3%</div>
                                            <div class="item__tag item__tag--blue">Старт продаж</div>
                                            <div class="item__tag item__tag--blue">Кладовые</div>
                                        </div>
                                        <button class="button item__tags--toggle">
                                            <svg width="8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                                <path d="M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z"/>
                                            </svg>
                                        </button>
                                    </div>
                                    <button class="item__toggle" type="button" data-show="карта" data-hide="скрыть"></button>
                                </div>
                                <div class="item__content">
                                    <div class="item__content--base">
                                        <div class="item__info">
                                            <div class="item__info--completion">Сдача IV кв 2022</div>
                                            <div class="item__info--developer">ЛСР недвижимость</div>
                                        </div>
                                        <div class="item__title">Мосфильмовский</div>
                                        <div class="item__district">
                                            <div class="item__district--icon" style="background-color: #FFD702;"></div>
                                            <div class="item__district--name">Сокол</div>
                                            <div class="item__district--distance">
                                                <i>
                                                    <svg class="ico-svg" viewBox="0 0 10 15" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite-mono.svg#distanceicon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </i>
                                                <span>12 минут</span>
                                            </div>
                                        </div>
                                        <div class="item__data">
                                            <div class="item__data--price">от 28,61 млн ₽</div>
                                            <div class="item__data--apartments">43 квартиры</div>
                                        </div>
                                    </div>
                                    <div class="item__content--hover">
                                        <div class="item__info">
                                            <div class="item__info--completion">Сдача IV кв 2022</div>
                                            <a href="javascript:void(0)" class="item__info--apartments">43 квартиры</a>
                                        </div>
                                        <div class="item__price">
                                            <div class="item__price--title">Минимальная стоимость, млн ₽</div>
                                            <div class="item__price--table">
                                                <div class="item__table">
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">Студия</div>
                                                        <div class="item__table--value">4,51</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">1-комн</div>
                                                        <div class="item__table--value">8,32</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">2-комн</div>
                                                        <div class="item__table--value">12,44</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">3-комн</div>
                                                        <div class="item__table--value">14,80</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">4-комн</div>
                                                        <div class="item__table--value">20,83</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">5-комн</div>
                                                        <div class="item__table--value">127,47</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item">
                                <div class="item__header">
                                    <a href="javascript:void(0)" class="item__media">
                                        <div class="item__media--image">
                                            <img src="img/content/item_image__05.jpg" class="img-fluid" alt="">
                                        </div>
                                        <div class="item__media--map">
                                            <img src="img/content/item_map_01.jpg" class="img-fluid" alt="">
                                            <div class="item__marker">
                                                <div class="item__marker--elem">
                                                    <div class="item__marker--icon">
                                                        <svg class="ico-svg" viewBox="0 0 10 15" xmlns="http://www.w3.org/2000/svg">
                                                            <use xlink:href="img/sprites/sprite-mono.svg#distanceicon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                        </svg>
                                                    </div>
                                                    <div class="item__marker--text">Раменки 7 минут</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="item__tags">
                                        <div class="items__tags-list">
                                            <div class="item__tag item__tag--orange">Ипотека от 6,3%</div>
                                            <div class="item__tag item__tag--blue">Старт продаж</div>
                                            <div class="item__tag item__tag--blue">Кладовые</div>
                                        </div>
                                        <button class="button item__tags--toggle">
                                            <svg width="8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                                <path d="M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z"/>
                                            </svg>
                                        </button>
                                    </div>
                                    <button class="item__toggle" type="button" data-show="карта" data-hide="скрыть"></button>
                                </div>
                                <div class="item__content">
                                    <div class="item__content--base">
                                        <div class="item__info">
                                            <div class="item__info--completion">Сдача III кв 2024</div>
                                            <div class="item__info--developer">ПИК</div>
                                        </div>
                                        <div class="item__title">Зеленый квартал на Пулковских высотах</div>
                                        <div class="item__district">
                                            <div class="item__district--icon" style="background-color: #a0a0a0;"></div>
                                            <div class="item__district--name">
                                                <span>ул Академика Янгеля</span>
                                            </div>
                                            <div class="item__district--distance">
                                                <i>
                                                    <svg class="ico-svg" viewBox="0 0 10 15" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite-mono.svg#distanceicon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </i>
                                                <span>12 минут</span>
                                            </div>
                                        </div>
                                        <div class="item__data">
                                            <div class="item__data--price">от 12,52 млн ₽</div>
                                            <div class="item__data--apartments">29 квартир</div>
                                        </div>
                                    </div>
                                    <div class="item__content--hover">
                                        <div class="item__info">
                                            <div class="item__info--completion">Сдача III кв 2024</div>
                                            <a href="javascript:void(0)" class="item__info--apartments">29 квартир</a>
                                        </div>
                                        <div class="item__price">
                                            <div class="item__price--title">Минимальная стоимость, млн ₽</div>
                                            <div class="item__price--table">
                                                <div class="item__table">
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">Студия</div>
                                                        <div class="item__table--value">4,51</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">1-комн</div>
                                                        <div class="item__table--value">8,32</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">2-комн</div>
                                                        <div class="item__table--value">12,44</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">3-комн</div>
                                                        <div class="item__table--value">14,80</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">4-комн</div>
                                                        <div class="item__table--value">20,83</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">5-комн</div>
                                                        <div class="item__table--value">127,47</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item item--accent">
                                <div class="item__header">
                                    <a href="javascript:void(0)" class="item__media">
                                        <div class="item__media--image">
                                            <img src="img/content/item_image__03.jpg" class="img-fluid" alt="">
                                        </div>
                                        <div class="item__media--map">
                                            <img src="img/content/item_map_01.jpg" class="img-fluid" alt="">
                                            <div class="item__marker">
                                                <div class="item__marker--elem">
                                                    <div class="item__marker--icon">
                                                        <svg class="ico-svg" viewBox="0 0 10 15" xmlns="http://www.w3.org/2000/svg">
                                                            <use xlink:href="img/sprites/sprite-mono.svg#distanceicon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                        </svg>
                                                    </div>
                                                    <div class="item__marker--text">Тропарево 7 минут</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="item__tags">
                                        <div class="items__tags-list">
                                            <div class="item__tag item__tag--orange">Ипотека от 6,3%</div>
                                            <div class="item__tag item__tag--blue">Старт продаж</div>
                                            <div class="item__tag item__tag--blue">Кладовые</div>
                                        </div>
                                        <button class="button item__tags--toggle">
                                            <svg width="8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                                <path d="M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z"/>
                                            </svg>
                                        </button>
                                    </div>
                                    <button class="item__toggle" type="button" data-show="карта" data-hide="скрыть"></button>
                                </div>
                                <div class="item__content">
                                    <div class="item__content--base">
                                        <div class="item__info">
                                            <div class="item__info--completion">Сдача IV кв 2022</div>
                                            <div class="item__info--developer">ЛСР недвижимость</div>
                                        </div>
                                        <div class="item__title">Солнечный Луч</div>
                                        <div class="item__district">
                                            <div class="item__district--icon" style="background-color: #FFD702;"></div>
                                            <div class="item__district--name">Сокол</div>
                                            <div class="item__district--distance">
                                                <i>
                                                    <svg class="ico-svg" viewBox="0 0 10 15" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite-mono.svg#distanceicon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </i>
                                                <span>12 минут</span>
                                            </div>
                                        </div>
                                        <div class="item__data">
                                            <div class="item__data--price">от 28,61 млн ₽</div>
                                            <div class="item__data--apartments">43 квартиры</div>
                                        </div>
                                    </div>
                                    <div class="item__content--hover">
                                        <div class="item__info">
                                            <div class="item__info--completion">Сдача IV кв 2022</div>
                                            <a href="javascript:void(0)" class="item__info--apartments">43 квартиры</a>
                                        </div>
                                        <div class="item__price">
                                            <div class="item__price--title">Минимальная стоимость, млн ₽</div>
                                            <div class="item__price--table">
                                                <div class="item__table">
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">Студия</div>
                                                        <div class="item__table--value">4,51</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">1-комн</div>
                                                        <div class="item__table--value">8,32</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">2-комн</div>
                                                        <div class="item__table--value">12,44</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">3-комн</div>
                                                        <div class="item__table--value">14,80</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">4-комн</div>
                                                        <div class="item__table--value">20,83</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">5-комн</div>
                                                        <div class="item__table--value">127,47</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item">
                                <div class="item__header">
                                    <a href="javascript:void(0)" class="item__media">
                                        <div class="item__media--image">
                                            <img src="img/content/item_image__04.jpg" class="img-fluid" alt="">
                                        </div>
                                        <div class="item__media--map">
                                            <img src="img/content/item_map_01.jpg" class="img-fluid" alt="">
                                            <div class="item__marker">
                                                <div class="item__marker--elem">
                                                    <div class="item__marker--icon">
                                                        <svg class="ico-svg" viewBox="0 0 10 15" xmlns="http://www.w3.org/2000/svg">
                                                            <use xlink:href="img/sprites/sprite-mono.svg#distanceicon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                        </svg>
                                                    </div>
                                                    <div class="item__marker--text">Раменки 7 минут</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="item__tags">
                                        <div class="items__tags-list">
                                            <div class="item__tag item__tag--orange">Ипотека от 6,3%</div>
                                            <div class="item__tag item__tag--blue">Старт продаж</div>
                                            <div class="item__tag item__tag--blue">Кладовые</div>
                                        </div>
                                        <button class="button item__tags--toggle">
                                            <svg width="8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                                <path d="M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z"/>
                                            </svg>
                                        </button>
                                    </div>
                                    <button class="item__toggle" type="button" data-show="карта" data-hide="скрыть"></button>
                                </div>
                                <div class="item__content">
                                    <div class="item__content--base">
                                        <div class="item__info">
                                            <div class="item__info--completion">Сдача III кв 2024</div>
                                            <div class="item__info--developer">ПИК</div>
                                        </div>
                                        <div class="item__title">Петр Великий и Екатерина Великая</div>
                                        <div class="item__district">
                                            <div class="item__district--icon" style="background-color: #a0a0a0;"></div>
                                            <div class="item__district--name">
                                                <span>ул Академика Янгеля</span>
                                            </div>
                                            <div class="item__district--distance">
                                                <i>
                                                    <svg class="ico-svg" viewBox="0 0 10 15" xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="img/sprites/sprite-mono.svg#distanceicon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                                    </svg>
                                                </i>
                                                <span>12 минут</span>
                                            </div>
                                        </div>
                                        <div class="item__data">
                                            <div class="item__data--price">от 12,52 млн ₽</div>
                                            <div class="item__data--apartments">29 квартир</div>
                                        </div>
                                    </div>
                                    <div class="item__content--hover">
                                        <div class="item__info">
                                            <div class="item__info--completion">Сдача III кв 2024</div>
                                            <a href="javascript:void(0)" class="item__info--apartments">29 квартир</a>
                                        </div>
                                        <div class="item__price">
                                            <div class="item__price--title">Минимальная стоимость, млн ₽</div>
                                            <div class="item__price--table">
                                                <div class="item__table">
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">Студия</div>
                                                        <div class="item__table--value">4,51</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">1-комн</div>
                                                        <div class="item__table--value">8,32</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">2-комн</div>
                                                        <div class="item__table--value">12,44</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">3-комн</div>
                                                        <div class="item__table--value">14,80</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">4-комн</div>
                                                        <div class="item__table--value">20,83</div>
                                                    </div>
                                                    <div class="item__table--elem">
                                                        <div class="item__table--label">5-комн</div>
                                                        <div class="item__table--value">127,47</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.viewed__slider -->
            </div><!--/.viewed -->
        </div>
    </div>

{% endblock %}
