{% extends "src/template/layout/_template.njk" %}

{% set page_class = "page-map page-filter" %}
{%- set page_hide_breadcrumb = true -%}
{%- set hide_footer = true -%}
{%- set hide_h1 = true -%}
{%- set filter_scroll = true -%}

{% block content %}

<div class="yandex__filter">
    <div class="yandex__top">
        {% include "src/template/parts/_filter.njk" %}

        <div class="yandex-btn">
            <button   button type="button" class="btn btn-filter">Показать 1256 квартир</button>
        </div>
    </div>

    <div class="yandex__list">
        <div class="yandex__back">
            <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 5.5L5 1.5L9 5.5" stroke="#FF502F" stroke-width="1.5" />
            </svg>

            Назад к фильтрам
        </div>
        <div class="yandex__items custom-scroll">
            <div class="item">
                <div class="item__header">
                    <a href="javascript:void(0)" class="item__media">
                        <div class="item__media--image">
                            <img src="img/content/item_image__01.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="item__media--map">
                            <img src="img/content/item_map_01.jpg" class="img-fluid" alt="">
                            <div class="item__marker">
                                <div class="item__marker--elem">
                                    <div class="item__marker--icon">
                                        <svg class="ico-svg" viewBox="0 0 10 15" xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="img/sprites/sprite-mono.svg#distanceicon"
                                                xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                        </svg>
                                    </div>
                                    <div class="item__marker--text">Раменки 7 минут</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="item__tags">
                        <div class="items__tags-list">
                            <div class="item__tag item__tag--orange">Ипотека от 6,3%</div>
                            <div class="item__tag item__tag--blue">Старт продаж</div>
                            <div class="item__tag item__tag--blue">Кладовые</div>
                        </div>
                        <button class="button item__tags--toggle">
                            <svg width="8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                <path
                                    d="M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z">
                                </path>
                            </svg>
                        </button>
                    </div>
                    <button class="item__toggle" type="button" data-show="карта" data-hide="скрыть"></button>
                </div>
                <div class="item__content">
                    <div class="item__content--base">
                        <div class="item__info">
                            <div class="item__info--completion">Сдача IV кв 2022</div>
                            <div class="item__info--developer">ЛСР недвижимость</div>
                        </div>
                        <div class="item__title">Мосфильмовский</div>
                        <div class="item__district">
                            <div class="item__district--icon" style="background-color: #FFD702;"></div>
                            <div class="item__district--name">Сокол</div>
                            <div class="item__district--distance">
                                <i>
                                    <svg class="ico-svg" viewBox="0 0 10 15" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/sprites/sprite-mono.svg#distanceicon"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                    </svg>
                                </i>
                                <span>12 минут</span>
                            </div>
                        </div>
                        <div class="item__data">
                            <div class="item__data--price">от 28,61 млн ₽</div>
                            <div class="item__data--apartments">43 квартиры</div>
                        </div>
                    </div>
                    <div class="item__content--hover" style="height: 118px;">
                        <div class="item__info">
                            <div class="item__info--completion">Сдача IV кв 2022</div>
                            <a href="javascript:void(0)" class="item__info--apartments">43 квартиры</a>
                        </div>
                        <div class="item__price">
                            <div class="item__price--title">Минимальная стоимость, млн ₽</div>
                            <div class="item__price--table">
                                <div class="item__table">
                                    <div class="item__table--elem">
                                        <div class="item__table--label">Студия</div>
                                        <div class="item__table--value">4,51</div>
                                    </div>
                                    <div class="item__table--elem">
                                        <div class="item__table--label">1-комн</div>
                                        <div class="item__table--value">8,32</div>
                                    </div>
                                    <div class="item__table--elem">
                                        <div class="item__table--label">2-комн</div>
                                        <div class="item__table--value">12,44</div>
                                    </div>
                                    <div class="item__table--elem">
                                        <div class="item__table--label">3-комн</div>
                                        <div class="item__table--value">14,80</div>
                                    </div>
                                    <div class="item__table--elem">
                                        <div class="item__table--label">4-комн</div>
                                        <div class="item__table--value">20,83</div>
                                    </div>
                                    <div class="item__table--elem">
                                        <div class="item__table--label">5-комн</div>
                                        <div class="item__table--value">127,47</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a href="javascript:void(0)" class="flat-item">
                <div class="flat-item__completion">Сдача I кв 2022</div>
                <div class="flat-item__object">Хорошевский</div>
                <div class="flat-item__media">
                    <div class="flat-item__media--image">
                        <img src="img/content/flat-vertical.png" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="flat-item__title">Студия 25,78 м²<sup>2</sup></div>
                <div class="flat-item__price">
                    <div class="flat-item__price--total">68 120 250 ₽</div>
                    <div class="flat-item__price--meter">250 640 ₽ за м<sup>2</sup></div>
                </div>
                <div class="flat-item__tags">
                    <span class="flat-item__tag">Переуступка</span>
                </div>
                <div class="flat-item__info">
                    <span class="flat-item__info--elem">Корпус 5</span>
                    <span class="flat-item__info--elem">Этаж 24 из 48</span>
                </div>
            </a>

            <div class="item">
                <div class="item__header">
                    <a href="javascript:void(0)" class="item__media">
                        <div class="item__media--image">
                            <img src="img/content/item_image__01.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="item__media--map">
                            <img src="img/content/item_map_01.jpg" class="img-fluid" alt="">
                            <div class="item__marker">
                                <div class="item__marker--elem">
                                    <div class="item__marker--icon">
                                        <svg class="ico-svg" viewBox="0 0 10 15" xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="img/sprites/sprite-mono.svg#distanceicon"
                                                xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                        </svg>
                                    </div>
                                    <div class="item__marker--text">Раменки 7 минут</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="item__tags">
                        <div class="items__tags-list">
                            <div class="item__tag item__tag--orange">Ипотека от 6,3%</div>
                            <div class="item__tag item__tag--blue">Старт продаж</div>
                            <div class="item__tag item__tag--blue">Кладовые</div>
                        </div>
                        <button class="button item__tags--toggle">
                            <svg width="8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                <path
                                    d="M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z">
                                </path>
                            </svg>
                        </button>
                    </div>
                    <button class="item__toggle" type="button" data-show="карта" data-hide="скрыть"></button>
                </div>
                <div class="item__content">
                    <div class="item__content--base">
                        <div class="item__info">
                            <div class="item__info--completion">Сдача IV кв 2022</div>
                            <div class="item__info--developer">ЛСР недвижимость</div>
                        </div>
                        <div class="item__title">Мосфильмовский</div>
                        <div class="item__district">
                            <div class="item__district--icon" style="background-color: #FFD702;"></div>
                            <div class="item__district--name">Сокол</div>
                            <div class="item__district--distance">
                                <i>
                                    <svg class="ico-svg" viewBox="0 0 10 15" xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="img/sprites/sprite-mono.svg#distanceicon"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                    </svg>
                                </i>
                                <span>12 минут</span>
                            </div>
                        </div>
                        <div class="item__data">
                            <div class="item__data--price">от 28,61 млн ₽</div>
                            <div class="item__data--apartments">43 квартиры</div>
                        </div>
                    </div>
                    <div class="item__content--hover" style="height: 118px;">
                        <div class="item__info">
                            <div class="item__info--completion">Сдача IV кв 2022</div>
                            <a href="javascript:void(0)" class="item__info--apartments">43 квартиры</a>
                        </div>
                        <div class="item__price">
                            <div class="item__price--title">Минимальная стоимость, млн ₽</div>
                            <div class="item__price--table">
                                <div class="item__table">
                                    <div class="item__table--elem">
                                        <div class="item__table--label">Студия</div>
                                        <div class="item__table--value">4,51</div>
                                    </div>
                                    <div class="item__table--elem">
                                        <div class="item__table--label">1-комн</div>
                                        <div class="item__table--value">8,32</div>
                                    </div>
                                    <div class="item__table--elem">
                                        <div class="item__table--label">2-комн</div>
                                        <div class="item__table--value">12,44</div>
                                    </div>
                                    <div class="item__table--elem">
                                        <div class="item__table--label">3-комн</div>
                                        <div class="item__table--value">14,80</div>
                                    </div>
                                    <div class="item__table--elem">
                                        <div class="item__table--label">4-комн</div>
                                        <div class="item__table--value">20,83</div>
                                    </div>
                                    <div class="item__table--elem">
                                        <div class="item__table--label">5-комн</div>
                                        <div class="item__table--value">127,47</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a href="javascript:void(0)" class="flat-item">
                <div class="flat-item__completion">Сдача I кв 2022</div>
                <div class="flat-item__object">Хорошевский</div>
                <div class="flat-item__media">
                    <div class="flat-item__media--image">
                        <img src="img/content/flat-vertical.png" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="flat-item__title">Студия 25,78 м²<sup>2</sup></div>
                <div class="flat-item__price">
                    <div class="flat-item__price--total">68 120 250 ₽</div>
                    <div class="flat-item__price--meter">250 640 ₽ за м<sup>2</sup></div>
                </div>
                <div class="flat-item__tags">
                    <span class="flat-item__tag">Переуступка</span>
                </div>
                <div class="flat-item__info">
                    <span class="flat-item__info--elem">Корпус 5</span>
                    <span class="flat-item__info--elem">Этаж 24 из 48</span>
                </div>
            </a>
        </div>
    </div>

    <div class="yandex__grid">
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1 1H7.22225V7.22225H1V1Z" stroke="#FF502F"
                stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.7754 1H16.9976V7.22225H10.7754V1Z" stroke="#FF502F"
                stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.7754 10.7778H16.9976V17.0001H10.7754V10.7778Z"
                stroke="#FF502F" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1 10.7778H7.22225V17.0001H1V10.7778Z" stroke="#FF502F"
                stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
        </svg>

        Смотреть 4444 квартир карточками
    </div>
</div>

<div id="yandex" class="yandex"></div>

{% endblock %}