{% extends "src/template/layout/_template.njk" %}

{%- set page_hide_breadcrumb = false -%}
{% set title = "Скидка 20% на кладовые помещения в жилом комплексе Хорошевский " %}
{% set page_class = "page-post" %}
{% set is_filter = false %}


{% block content %}

    <div class="post">
        <div class="post__content">
            <h1 class="post__header">{{ title }}</h1><!-- /.post__header -->

            <div class="post__date">Срок действия до 24 сентября 2024</div>

            <div class="indent-md article__media">
                <div class="post__media--wrap">
                    <img src="img/content/news.jpg" class="img-fluid" alt="">
                </div>
            </div>

            <div class="indent-sm">
                <p><strong>Переуступка – тип сделки, который пользуется спросом при желании приобрести недорого квартиру в новостройке.</strong> Если вы решились на покупку жилья по переуступке, то важно правильно учесть все нюансы, минимизировать имеющиеся для покупателя подводные камни процедуры. С помощью данного вида продажи можно купить объект недвижимости не только у
                    <a href="javascript:void(0)">строительной компании</a>, но и у юридических или частных лиц</p>
            </div>

            <div class="indent-md post-projects">
                <div class="post-projects__header">Упомянутые объекты</div>
                <div class="post-projects__main">
                    <div class="swiper-container post-projects__slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="javascript:void(0)" class="post-projects__item">
                                    <div class="post-projects__image">
                                        <img src="img/content/article-projects__image_01.jpg" class="img-fluid" alt="">
                                    </div>
                                    <div class="post-projects__developer">ПИК</div>
                                    <div class="post-projects__name">Солнечный луч</div>
                                    <div class="post-projects__price">от 8,64 млн ₽</div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="javascript:void(0)" class="post-projects__item">
                                    <div class="post-projects__image">
                                        <img src="img/content/article-projects__image_02.jpg" class="img-fluid" alt="">
                                    </div>
                                    <div class="post-projects__developer">Гранель</div>
                                    <div class="post-projects__name">Зеленый квартал на Пулковских высотах</div>
                                    <div class="post-projects__price">от 8,64 млн ₽</div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="javascript:void(0)" class="post-projects__item">
                                    <div class="post-projects__image">
                                        <img src="img/content/article-projects__image_03.jpg" class="img-fluid" alt="">
                                    </div>
                                    <div class="post-projects__developer">Инград</div>
                                    <div class="post-projects__name">Мосфильмовский</div>
                                    <div class="post-projects__price">от 8,64 млн ₽</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="indent-sm">
                <div class="post__block">
                    <div class="post__block--content">
                        <p>Переуступка – это сделка по продаже недвижимости, которую купили в строящемся доме¹ и перепродали до момента оформления объекта в собственность. В результате сделки передаются также права и обязанности от одной стороне к другой. Это значит, если дольщик или застройщик не. Выполнил свои обязательства в полном объеме, то после подписания договора переуступки он должен будет их выполнить</p>
                        <ul class="list">
                            <li>Высокий уровень конкуренции. Инвестору-продавцу приходится конкурировать в том числе и с компанией-застройщиком, которая продает квартиры. Поэтому переуступки бывают дешевле на 5-10%, чтобы привлечь клиентов².</li>
                            <li>Есть возможность торга. У продавцов-инвесторов всегда есть возможность приобрести недвижимость дешевле, поскольку у них свои причины. Если деньги продавцу необходимы срочно, то в некоторых случаях переуступки продают дешевле, чем даже брали.</li>
                            <li>Квартиры от подрядчиков. Застройщик может рассчитываться квартирами с некоторыми организациями-подрядчиками, которые участвуют в строительстве. Чтобы монетизировать эти квадратные метры подрядчики зачастую продают их дешевле, чем застройщик</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="indent-md post-gallery">
                <div class="swiper-container post-gallery__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="post-gallery__image">
                                <div class="post-gallery__image--wrap">
                                    <img src="img/content/article_gallery_image_01.jpg" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="post-gallery__text">Маленькая подпись к фото в одну длинную строку едва заметно но читаемо</div>
                        </div>
                        <div class="swiper-slide">
                            <div class="post-gallery__image">
                                <div class="post-gallery__image--wrap">
                                    <img src="img/content/article_gallery_image_01.jpg" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="post-gallery__text">Маленькая подпись к фото в одну длинную строку едва заметно но читаемо</div>
                        </div>
                        <div class="swiper-slide">
                            <div class="post-gallery__image">
                                <div class="post-gallery__image--wrap">
                                    <img src="img/content/article_gallery_image_01.jpg" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="post-gallery__text">Маленькая подпись к фото в одну длинную строку едва заметно но читаемо</div>
                        </div>
                    </div>
                    <button type="button" class="slider-button slider-button--prev slider-prev">
                        <i>
                            <svg class="ico-svg" viewBox="0 0 192 512" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="img/sprites/sprite-mono.svg#angle-left" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                            </svg>
                        </i>
                    </button>
                    <button type="button" class="slider-button slider-button--next slider-next">
                        <i>
                            <svg class="ico-svg" viewBox="0 0 192 512" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="img/sprites/sprite-mono.svg#angle-right" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                            </svg>
                        </i>
                    </button>
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <p class="indent-sm">Среди плюсов сделки:</p>   
            <ol class="indent-md">
                <li>Высокий уровень конкуренции. Инвестору-продавцу приходится конкурировать в том числе и с компанией-застройщиком, которая продает квартиры. Поэтому переуступки бывают дешевле на 5-10%, чтобы привлечь клиентов.</li>
                <li>Есть возможность торга. У продавцов-инвесторов всегда есть возможность приобрести недвижимость дешевле, поскольку у них свои причины. Если деньги продавцу необходимы срочно, то в некоторых случаях переуступки продают дешевле, чем даже брали.</li>
                <li>Квартиры от подрядчиков. Застройщик может рассчитываться квартирами с некоторыми организациями-подрядчиками, которые участвуют в строительстве. Чтобы монетизировать эти квадратные метры подрядчики зачастую продают их дешевле, чем застройщик</li>
            </ol>


            <div class="post__nav post-nav border">
                <div class="post-nav__item post-nav__item--prev">
                    <a href="javascript:void(0)" class="post-nav__link">
                        <i>
                            <svg class="ico-svg" viewBox="0 0 192 512" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="img/sprites/sprite-mono.svg#angle-left" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                            </svg>
                        </i>
                        <span>Предыдущая статья</span>
                    </a>
                    <div class="post-nav__title">Я бecплaтнo пoлyчил зeмлю oт государства</div>
                </div>
                <div class="post-nav__item post-nav__item--next">
                    <a href="javascript:void(0)" class="post-nav__link">
                        <span>Следующая статья</span>
                        <i>
                            <svg class="ico-svg" viewBox="0 0 192 512" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="img/sprites/sprite-mono.svg#angle-right" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                            </svg>
                        </i>
                    </a>
                    <div class="post-nav__title">Как купить квартиру и не пролететь</div>
                </div>
            </div>

        </div>

        <div class="post__sidebar">
            <div class="subscribe">
                <button type="button" class="subscribe__close">
                    <svg class="ico-svg" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="img/sprites/sprite-mono.svg#close" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                    </svg>
                </button><!-- /.subscribe__close -->
                <div class="subscribe__title">Подписка на новости</div><!-- /.subscribe__title -->
                <div class="subscribe__subtitle">Получайте еженедельные новости прямо на почту</div><!-- /.subscribe__subtitle -->
                <form>
                    <div class="subscribe__input">
                        <input type="text" class="form-line" value="">
                        <span class="placeholder">Ваша почта</span>
                    </div><!-- /.subscribe__input -->
                    <div class="subscribe__button">
                        <button class="btn" type="button">Подписаться</button>
                    </div><!-- /.subscribe__button -->
                </form>
                <div class="subscribe__text">Нажимая на кнопку, вы <a href="javascript:void(0)">принимаете политику</a> конфиденциальности и даете согласие на обработку персональных данных</div><!-- /.subscribe__text -->
            </div><!-- /.subscribe -->
        </div>

    </div><!-- /.post -->

    <div class="section mb-0">
        <div class="section__header">
            <div class="section__header--title">Последние новости</div>
            <div class="section__header--nav">
                <a href="news.html" class="section__header--link">ВСмотреть все</a>
                <div class="section__header--buttons">
                    <div class="section-nav">
                        <button type="button" class="slider-button slider-button--prev post-prev" disabled="">
                            <i>
                                <svg class="ico-svg" viewBox="0 0 192 512" xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="img/sprites/sprite-mono.svg#angle-left" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg>
                            </i>
                        </button>
                        <button type="button" class="slider-button slider-button--next post-next">
                            <i>
                                <svg class="ico-svg" viewBox="0 0 192 512" xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="img/sprites/sprite-mono.svg#angle-right" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                                </svg>
                            </i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="section__content">
            <div class="swiper-container post-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="javascript:void(0)" class="post-preview">
                            <div class="post-preview__image">
                                <img src="img/content/post/post_perview__01.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="post-preview__content">
                                <div class="post-preview__title">Акция «Детская ипотека»</div>
                                <div class="post-preview__text">Рассрочки для молодых семей и молодоженов</div>
                                <div class="post-preview__date">До 24 сентября 2024</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)" class="post-preview">
                            <div class="post-preview__image">
                                <img src="img/content/post/post_perview__02.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="post-preview__content">
                                <div class="post-preview__title">Акция «Детская ипотека»</div>
                                <div class="post-preview__date">До 24 сентября 2024</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)" class="post-preview">
                            <div class="post-preview__image">
                                <img src="img/content/post/post_perview__03.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="post-preview__content">
                                <div class="post-preview__title">Скидка 2% на готовые квартиры в ЖК «Домашний»</div>
                                <div class="post-preview__date">До 24 сентября 2024</div>
                            </div>
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="javascript:void(0)" class="post-preview">
                            <div class="post-preview__image">
                                <img src="img/content/post/post_perview__02.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="post-preview__content">
                                <div class="post-preview__title">Акция «Детская ипотека»</div>
                                <div class="post-preview__date">До 24 сентября 2024</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)" class="post-preview">
                            <div class="post-preview__image">
                                <img src="img/content/post/post_perview__03.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="post-preview__content">
                                <div class="post-preview__title">Скидка 2% на готовые квартиры в ЖК «Домашний»</div>
                                <div class="post-preview__date">До 24 сентября 2024</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)" class="post-preview">
                            <div class="post-preview__image">
                                <img src="img/content/post/post_perview__02.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="post-preview__content">
                                <div class="post-preview__title">Акция «Детская ипотека»</div>
                                <div class="post-preview__text">Рассрочки для молодых семей и молодоженов</div>
                                <div class="post-preview__date">До 24 сентября 2024</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)" class="post-preview">
                            <div class="post-preview__image">
                                <img src="img/content/post/post_perview__03.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="post-preview__content">
                                <div class="post-preview__title">Скидка 2% на готовые квартиры в ЖК «Домашний»</div>
                                <div class="post-preview__date">До 24 сентября 2024</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block h1 %}
{% endblock %}
