{% include "src/template/layout/_head.njk" %}

    <div class="print type2">
        <div class="print__header">
            <div class="print__logo"><img src="img/logo-white.svg" alt=""></div>
            <div>
                <div class="print__header-office">Центральный офис</div>
                <div class="print__header-addr">изанская никитинская ул., 88, корпус 1-6, Москва</div>
                <div class="print__header-time">По будням с 44 до 44</div>
                <a href="tel:84444444444" class="print__phone">8 444 444 44 44</a>
                <a href="javascript:void(0)" class="print__site">strizhissylka.ru</a>
            </div>
        </div>

        <div class="print__body">
            <div class="print__vendor">Артикул: жщ-123апол</div>
            <div class="print__title">4-комнатная в жк «Зеленый квартал на Пулковских высотах»</div>
            <div class="print__addr">Краснознаменная партизанская никитинская ул., 88, корпус 1-6, Москва</div>
            <div class="print__stop">
                <div class="print__stop-item">
                    <span>ул академика Янгеля</span>
                    <img src="img/icons/distanceicon.svg" alt="">
                    <span>5 минут</span>
                </div>
                <div class="print__stop-item">
                    <span>б-р Дмитрия Донского</span>
                    <img src="img/icons/distanceicon.svg" alt="">
                    <span>7 минут</span>
                </div>
            </div>

            <div class="print__image">
                <img src="img/content/objecct_image__01.jpg" alt="">
                <img src="img/content/objecct_image__02.jpg" alt="">
            </div>

            <div class="print__result">
                <div class="print__result-item">
                    <div class="print__label">Стоимость от</div>
                    <div class="print__value">44 444 444 ₽</div>
                </div>
                <div class="print__result-item">
                    <div class="print__label">Срок сдачи</div>
                    <div class="print__value">IV квартал 2024</div>
                </div>
            </div>

            <div class="print__info">
                <div class="print__table">
                    <div class="print__table-row">
                        <span>Площадь</span>
                        <span>444,44 м²</span>
                    </div>
                    <div class="print__table-row">
                        <span>Этаж</span>
                        <span>44 из 44</span>
                    </div>
                    <div class="print__table-row">
                        <span>Срок сдачи</span>
                        <span>IV квартал 2024</span>
                    </div>
                    <div class="print__table-row">
                        <span>Корпус</span>
                        <span>44</span>
                    </div>
                    <div class="print__table-row">
                        <span>Отделка</span>
                        <span>Чистовая, светлый лофт</span>
                    </div>
                    <div class="print__table-row">
                        <span>Потолки</span>
                        <span>2,75 метра</span>
                    </div>
                    <div class="print__table-row">
                        <span>Дополнительно</span>
                        <span>Балкон-лоджия с выходом на крышу</span>
                    </div>
                    <div class="print__table-row">
                        <span>Характеристика</span>
                        <span>Параметр</span>
                    </div>

                    <div class="print__date">Документ сформирован 24 сентября 2024</div>
                </div>
                <img src="img/qr.png" alt="" class="print__qr">
            </div>
        </div>
    </div>

{% include "src/template/layout/_scripts.njk" %}